#direction_widget{ :"data-replace" => "#direction_widget" }
  .sidebar
    = link_to '/', :target => :_top do
      %h1.logo
    = semantic_form_for widget_search, :url => widgets_direction_path(widget.uid), :method => :get do |f|
      = f.hidden_field :bounding_box, :value => params[:search].try(:[], "bounding_box")
      %section.search
        %h2
          = t('views.widgets.show.direction.relics_on_path')
          = link_to image_tag("widget-helper.png"), '#', :class => "tooltip", :"data-placement" => "right", :title => t('formtastic.hints.search.place', :editable => false)
        .search-input
          = f.input :start
          = f.input :end
          .string.clearfix.optional.stringish
            %p W promieniu od zabytku:
            = f.text_field :radius
            km 
          = f.submit :class => "submit", :value => "Pokaż"
.map
  #map_canvas{ :style => "width: 100%; height: 100%;" }
:javascript
  config = #{widget.config.to_json};
= content_for :stylesheets do
  = stylesheet_link_tag "widgets/direction"
= content_for :javascripts do
  = javascript_include_tag "widgets/direction"
