.sidebar{ :"data-replace" => ".sidebar" }
  %h1.logo OtwarteZabytki
  = semantic_form_for widget_search, :url => widget_path(widget.uid), :method => :get do |f|
    = f.hidden_field :zoom, :value => params[:search].try(:[], :zoom) || 5
    %section.search
      %h2
        Wyszukaj
        = link_to '?', '#', :class => "tooltip", :"data-placement" => "right", :title => "To jest podpowiedź do pola wyszukiwania."
      = f.input :q, :label => false, :input_html => { :class => 'autocomplete-q'}
    %section.locations
      %h2
        Lokalizacje
        = link_to '?', '#', :class => "tooltip", :"data-placement" => "right", :title => "To jest podpowiedź do pola lokalizacje."
      - if relics.widget_facets_tree
        %ul
          = render 'shared/locations_tree', :node => relics.widget_facets_tree
    %section.categories
      %h2
        Kategorie
        = link_to '?', '#', :class => "tooltip", :"data-placement" => "right", :title => "To jest podpowiedź do kategorii."
      = f.input :categories, :as => :check_boxes, :collection => categoires_facets, :disabled => disabled(f.object, 'categories'), :label => 'Kategorie', :label => false
.map

:javascript
  config = #{widget.config.to_json};
= content_for :stylesheets do
  = stylesheet_link_tag "widget_templates/map_search"
= content_for :javascripts do
  = javascript_include_tag "widget_templates/map_search"