.well.sidebar-nav
  %h3= t('views.relics.show.localization_facets.header')
  %ul.nav.nav-list
    - hidden_voivodeships = (location_array.include?('pl') and location_array.size == 1)
    %li
      = link_to_facet ({'term' => 'Polska_pl', 'count' => relics.count('poland')}), 0 do
        %ul.voivodeships{:style => ('display:none;' if hidden_voivodeships)}
          - relics.terms('voivodeships', true).each do |obj|
            %li
              = link_to_facet obj, 1 do
                %ul
                  - relics.terms('districts', true).each do |obj|
                    %li
                      = link_to_facet obj, 2 do
                        %ul
                          - relics.terms('communes', true).each do |obj|
                            %li
                              = link_to_facet obj, 3 do
                                %ul
                                  - relics.terms('places', true).each do |obj|
                                    %li
                                      = link_to_facet obj, 4
    - if hidden_voivodeships
      %li
        = link_to t('views.relics.show.localization_facets.show_voivodeships'), '#', :class => 'show-voivodeships'
    %li
      = link_to_facet ({'term' => "#{t('views.relics.show.localization_facets.world_relics')}_world", 'count' => relics.count('world')}), 0 do
        %ul
          - relics.terms('countries', true).each do |obj|
            %li
              = link_to_facet obj, 1
