.well.sidebar-nav
  %h3 Lokalizacja
  %ul.nav.nav-list.all
    %li
      = link_to "Cały Świat <span>#{relics.count('overall')}</span>".html_safe, relics_path(search_params(:location => nil)), :remote => true
  %ul.nav.nav-list
    %li
      = link_to_facet ({'term' => 'Polska_pl', 'count' => relics.count('poland')}), 0 do
        %ul
          - relics.terms('voivodeships', true).each do |obj|
            %li
              = link_to_facet obj, 1 do
                %ul
                  - relics.terms('districts', true).each do |obj|
                    %li
                      = link_to_facet obj, 2 do
                        %ul
                          - relics.terms('communes', true).each do |obj|
                            %li
                              = link_to_facet obj, 3 do
                                %ul
                                  - relics.terms('places', true).each do |obj|
                                    %li
                                      = link_to_facet obj, 4
    %li
      = link_to_facet ({'term' => 'Poza polską_world', 'count' => relics.count('world')}), 0 do
        %ul
          - relics.terms('countires', true).each do |obj|
            %li
              = link_to_facet obj, 1