.search-results
  %table.relics
    %thead
      %tr.relic
        %th.body
          %span.label= t('views.relics.show.relics.name')
        %th.location
          %span.label= t('views.relics.show.relics.location')
        %th.date
          %span.label= t('views.relics.show.relics.create_date')
    %tbody
      - collection.each do |relic|
        %tr.relic
          %td.body
            .thumb
              = image_tag "bg-relic-image-ph-small.gif"
            .name
              %h2= link_to relic.identification, relic_path(relic.slug)
            = state_tag(relic)
          %td.location
            .pathway
              = relic.place_full_name
            .street
              - unless relic.street.blank?
                %span.known= relic.street
              - else
                %span.unknown= t('views.relics.show.relics.unknown_address')
          %td.date
            - unless relic.from.blank?
              .time
                = relic.from

