.search-results
  %table.relics
    %thead
      %tr.relic
        %th.body
          %span.label= t('views.relics.relics.name')
        %th.location
          %span.label= t('views.relics.relics.location')
        %th.date
          %span.label= t('views.relics.relics.create_date')
    %tbody
      - collection.each do |relic|
        %tr.relic
          %td.body
            .thumb
              = link_to image_tag(relic.main_photo.file.url(:icon)), relic
            .name
              %h2= link_to relic.identification, relic
              - descendants = relic.descendants
              - if descendants.present?
                .include
                  %span
                  = descendants.map(&:identification).join('; ')
            = state_tag(relic)
            .help
              = image_tag 'ico-help.png'
              .help-wrapper
                = link_to t('views.relics.index.states.close'), '#', :class => 'close'
                %h3= t('views.relics.index.states.header')
                %ul
                  %li
                    .tag
                      %span{:class => relic.state}= t("views.relics.index.states.#{relic.state}.header")
                    .text= t("views.relics.index.states.#{relic.state}.info")
          %td.location
            .pathway
              = relic.place_full_name
            .street
              - if relic.street?
                %span.known= relic.street
              - else
                %span.unknown= t('views.relics.relics.unknown_address')
          %td.date
            .time
              - if relic.date_start?
                = relic.date_start
              - else
                %em= t('views.relics.relics.unknown_from')
