.search-results.relics
  .bootstrap-iso
    .relic.text-left.relic-search-header.hidden-xs.hidden-sm
      .relic-row
        .col-md-7.relic-body= t('views.relics.relics.name')
        .col-md-3.relic-location= t('views.relics.relics.location')
        .col-md-2.relic-date= t('views.relics.relics.create_date')
    %div
      - collection.each do |relic|
        .relic-row.relic.col-sm-12.cols-xs-12
          .body.col-md-7.col-sm-12.col-xs-12
            .thumb-div.col-md-2
              .thumb
                = link_to image_tag(relic.main_photo.file.url(:icon), alt: set_relic_img_alt(relic)), relic
            .relic__relic-content.col-md-10
              .name
                %h2= link_to relic.identification, relic
                = state_tag(relic)
                .help
                  = image_tag 'ico-help.png', alt: 'help'
                  .help-wrapper
                    = link_to t('views.relics.index.states.close'), '#', :class => 'close'
                    %h3= t('views.relics.index.states.header')
                    %ul
                      %li= state_hint_tag(relic.state, relic.existence == 'social')

                - descendants = relic.descendants
                - if descendants.present?
                  .include
                    -#%span
                    -#= descendants.map(&:identification).join('; ')
                    .block
                      - descendants.each do |descendant|
                        .col-sm-12.js-show-hide-subrelic.hide
                          .thumb-div
                            .thumb
                              = link_to image_tag(descendant.main_photo.file.url(:icon), alt: set_relic_img_alt(descendant)), descendant
                          = link_to descendant.identification, descendant

          .location.col-md-3.col-sm-12.col-xs-12
            .pathway
              = relic.place_full_name
            .street
              - if relic.street?
                %span.known= relic.street
              - else
                %span.unknown= t('views.relics.relics.unknown_address')
          .date.col-md-2.col-sm-12.col-xs-12
            .time.text-right
              - if relic.dating_of_obj?
                = relic.dating_of_obj
              - else
                %em= t('views.relics.relics.unknown_from')
