.search-results
  %table.relics
    %thead
      %tr.relic
        %th.body
          %span.label= t('views.relics.relics.name')
        %th.location
          %span.label= t('views.relics.relics.location')
        %th.date
          %span.label= t('views.relics.relics.create_date')
    %tbody
      - collection.each do |relic|
        %tr.relic
          %td.body
            .thumb
              = link_to image_tag("bg-relic-image-ph-small.gif"), relic_path(relic.slug), :remote => true
            .name
              %h2= link_to relic.identification, relic_path(relic.slug), :remote => true
            = state_tag(relic)
          %td.location
            .pathway
              = relic.place_full_name
            .street
              - unless relic.street.blank?
                %span.known= relic.street
              - else
                %span.unknown= t('views.relics.relics.unknown_address')
          %td.date
            .time
              - unless relic.from.blank?
                = relic.from
              - else
                %em= t('views.relics.relics.unknown_from')
