-#--------- dummy content to run in colorbox! ----------
.suggested-relics-wrapper
  %h1 Znaleźliśmy 2 zabytki w tej okolicy!
  .info
    %p 
      Dokładnie w tej okolicy znaleźliśmy 
      %strong
        = succeed ',' do
          2 zabytki 
      które już istnieją w naszej bazie danych.
    %p Czy jesteś pewien że to nie jest któryś z listy poniżej? Nie chcemy dublować zabytków w bazie, a łatwiej przejść do edycji już istniejących obiektów niż dublować nieuzupełnione inforacje...
  %ul.suggested-relics
    %li.odd
      %img{:src => "http://placekitten.com/125/125", :class => 'thumb'}
      .description
        %h3 Nazwa jakiegoś zabytku w okolicy
        %span.marker dolnośląskie &gt; wrocławski &gt; dobre
        %span.category
          %strong Kategorie:
          Zamki, Ruiny
        %span.choose
          %strong To jest ten zabytek!
          = link_to 'Chcę go uzupełnić &raquo;'.html_safe, '#'
    %li.even
      %img{:src => "http://placekitten.com/125/125", :class => 'thumb'}
      .description
        %h3 Nazwa jakiegoś zabytku w okolicy
        %span.marker dolnośląskie &gt; wrocławski &gt; dobre
        %span.choose
          %strong To jest ten zabytek!
          = link_to 'Chcę go uzupełnić &raquo;'.html_safe, '#'
    %li.odd
      %img{:src => "http://placekitten.com/125/125", :class => 'thumb'}
      .description
        %h3 Nazwa jakiegoś zabytku w okolicy
        %span.marker dolnośląskie &gt; wrocławski &gt; dobre
        %span.category
          %strong Kategorie:
          Zamki, Ruiny
        %span.date
          %strong Data powstania:
          17 czerwca 2011
        %span.choose
          %strong To jest ten zabytek!
          = link_to 'Chcę go uzupełnić &raquo;'.html_safe, '#'
    %li.even
      %img{:src => "http://placekitten.com/125/125", :class => 'thumb'}
      .description
        %h3 Nazwa jakiegoś zabytku w okolicy
        %span.marker 
          ul. Powstańców Wielkopolskich 3334
          %br
          Plewiska, 65-555
          %br
          dolnośląskie &gt; wrocławski &gt; dobre
        %span.choose
          %strong To jest ten zabytek!
          = link_to 'Chcę go uzupełnić &raquo;'.html_safe, '#'
  = link_to 'Nie ma go na liście &raquo;'.html_safe ,'#', :class => 'not-found'