.about_top.download_top
  = t('views.relics.download.relics_database')
.content_more_about
  %p.small
    = t('views.relics.download.info')
  %p.small
    = t('views.relics.download.db_license')
    = link_to 'Creative Commons Zero (CC0)', "http://creativecommons.org/choose/zero/"
  - if @export_url
    %p.small
      = link_to t('views.relics.download.download'), @export_url, :class => 'download'
  - else
    %strong= t('views.relics.download.unavailable_file')