#relic-edit
  .page-header
    %h1
      3. Sprawdź zabytek
      %span= suggestion.relic.place_full_name(false)

    %h2= link_to "przejdź do następnego »", [:gonext, relic]

  = semantic_form_for suggestion, :url => relic_path, :method => :put,
    :html => { :data => { :commune => suggestion.relic.commune.name,
                          :district => suggestion.relic.district.name,
                          :voivodeship => suggestion.relic.voivodeship.name } } do |f|
    .overlay
    %section.steps

      %article.step.step-name.step-simple.step-view.step-current
        %span.ico
        .help-content
          .help Pomoc
          .help-extended
            %span.close Zamknij pomoc
            %p
              Sprawdź, czy nazwa zabytku jest poprawna (np. jeśli zaczyna się od małej litery, popraw ją na wielką).
              Jeśli chcesz ją poprawić, kliknij „Zmień”. Pojawi się pole, w którym można poprawić nazwę.
              Następnie naciśnij „Zapisz”, aby zachować poprawioną nazwę. Jeśli jest poprawna, kliknij „Potwierdź”.
              Jeśli nie wiesz, czy nazwa jest poprawna, spróbuj znaleźć informacje na stronach internetowych lub w książkach.
              Jeśli Ci się nie uda, kliknij „Nie wiem”, a automatycznie przejdziesz do kolejnego punktu.
              W przypadku popełnienia błędu kliknij „Edytuj ponownie” i edytuj ponownie.
        .values.values-edit.values-view
          = f.input :identification, :as => :string, :label => "Nazwa", :input_html => { :readonly => true }
          = f.input :identification_action, :as => :hidden
        .actions.actions-view
          %h3 Czy nazwa zabytku jest poprawna? (Jeśli nie wiesz, prosimy, poszukaj odpowiedzi.)
          .action.action-confirm= link_to "Potwierdź", "#"
          .action.action-edit= link_to "Zmień", "#"
          .action.action-skip= link_to "Nie wiem", "#"
        .actions.actions-edit
          %h3 Czy nazwa zabytku jest poprawna? (Jeśli nie wiesz, prosimy, poszukaj odpowiedzi.)
          .action.action-confirm= link_to "Potwierdź", "#"
          .action.action-edit= link_to "Zmień", "#"
          .action.action-skip= link_to "Nie wiem", "#"
          .action.action-submit= link_to "Zapisz", "#"
          .action.action-cancel= link_to "Cofnij zmianę", "#"
        .actions.actions-done
          %h3 Czy nazwa zabytku jest poprawna? (Jeśli nie wiesz, prosimy, poszukaj odpowiedzi.)
          .action.action-confirm= link_to "Potwierdź", "#"
          .action.action-edit= link_to "Zmień", "#"
          .action.action-skip= link_to "Nie wiem", "#"
          .action.action-back
            (Zrobiłeś błąd?
            = link_to "Edytuj ponownie", "#"
            )

      %article.step.step-place.step-simple.step-view
        %span.ico
        .help-content
          .help Pomoc
          .help-extended
            %span.close Zamknij pomoc
            %p
              Sprawdź, czy nazwa miejscowości jest poprawna. Jeśli jest poprawna, kliknij „Potwierdź”.
              Jeśli chcesz ją poprawić, kliknij „Zmień”. Pokaże się pole, w którym można poprawić nazwę.
              (Gdy zaczniesz wpisywać nazwę, system podpowie możliwości. Możesz wybrać jedną z podpowiedzi
              lub dokończyć wpisywanie samodzielnie). Następnie naciśnij „Zapisz”, aby zachować poprawioną nazwę.
              Jeśli nie wiesz, czy nazwa miejscowości jest poprawna, spróbuj znaleźć informacje na stronach internetowych lub w książkach.
              Jeśli Ci się nie uda, kliknij „Nie wiem”, a automatycznie przejdziesz do kolejnego punktu.
        .values.values-view
          = f.input :place_name, :as => :string, :label => "Miejscowość",
            :input_html => { :name => "place_name_viewer", :id => "place_name_viewer", :readonly => true }
        .values.values-edit
          = f.input :place_id, :as => :select,
            :collection => f.object.relic.commune.places.not_custom, :selected => f.object.place.id, :label => "Miejscowość",
            :include_blank => false

          = f.input :place_id_action, :as => :hidden

        .actions.actions-view
          %h3 Czy nazwa miejscowości jest poprawna?
          .action.action-confirm= link_to "Potwierdź", "#"
          .action.action-edit= link_to "Zmień", "#"
          .action.action-skip= link_to "Nie wiem", "#"
        .actions.actions-edit
          %h3 Czy nazwa miejscowości jest poprawna?
          .action.action-confirm= link_to "Potwierdź", "#"
          .action.action-edit= link_to "Zmień", "#"
          .action.action-skip= link_to "Nie wiem", "#"
          .action.action-submit= link_to "Zapisz", "#"
          .action.action-cancel= link_to "Cofnij zmianę", "#"
        .actions.actions-done
          %h3 Czy nazwa miejscowości jest poprawna?
          .action.action-confirm= link_to "Potwierdź", "#"
          .action.action-edit= link_to "Zmień", "#"
          .action.action-skip= link_to "Nie wiem", "#"
          .action.action-back
            (Zrobiłeś błąd?
            = link_to "Edytuj ponownie", "#"
            )
      %article.step.step-street.step-simple.step-view
        .help-content
          .help Pomoc
          .help-extended
            %span.close Zamknij pomoc
            - if f.object.street.present?
              %p
                Sprawdź, czy adres jest poprawny. Jeśli jest poprawny, kliknij „Potwierdź”.
                Jeśli chcesz go poprawić, kliknij „Zmień”. Pokaże się pole, w którym można poprawić adres.
                (Gdy  zaczniesz wpisywać nazwę ulicy, system podpowie możliwości.
                Możesz  wybrać jedną z podpowiedzi lub dokończyć wpisywanie samodzielnie).
                Następnie naciśnij „Zapisz”, aby zachować poprawiony adres.
                Jeśli nie  wiesz, czy adres jest poprawny, spróbuj znaleźć informacje na stronach  internetowych lub w książkach.
                Jeśli   znajdziesz informację, że zabytek występuje w obrębie kilku ulic
                (np. Park Dreszera w Warszawie w obrębie ulic Ursynowskiej, Puławskiej,   Odyńca i Krasickiego), wpisz wszystkie.
                Jeśli Ci się nie uda, kliknij „Nie wiem,  pomiń”, a automatycznie przejdziesz do kolejnego punktu.
            - else
              %p
                Spróbuj znaleźć adres zabytku (np. na stronach internetowych lub w  książkach).
                Jeśli znajdziesz informację, że zabytek występuje w obrębie kilku ulic
                (np. Park Dreszera w Warszawie w obrębie ulic Ursynowskiej, Puławskiej, Odyńca i Krasickiego), wpisz wszystkie.
                Jeśli Ci się nie uda, kliknij „Nie wiem”, a  automatycznie przejdziesz do kolejnego punktu.
        %span.ico
        .values.values-edit.values-view
          = f.input :street, :as => :string, :label => "Adres", :placeholder => "Brak adresu", :input_html => { :readonly => true }
          = f.input :street_action, :as => :hidden
        .actions.actions-view
          - if f.object.street.present?
            %h3 Czy adres zabytku jest poprawny? (np. ul. Marszałkowska 25, rondo Falbanka)
            .action.action-confirm= link_to "Potwierdź", "#"
            .action.action-edit= link_to "Zmień", "#"
            .action.action-skip= link_to "Nie wiem", "#"
          - else
            %h3 Czy znasz adres zabytku? (np. al. Jerozolimskie, wyspa Kępa Mieszańska, rondo Falbanka)
            .action.action-edit= link_to "Uzupełnij adres", "#"
            .action.action-skip= link_to "Nie znam", "#"
        .actions.actions-edit
          - if f.object.street.present?
            %h3 Czy adres zabytku jest poprawny? (np. ul. Marszałkowska 25, rondo Falbanka)
            .action.action-confirm= link_to "Potwierdź", "#"
            .action.action-edit= link_to "Zmień", "#"
            .action.action-skip= link_to "Nie wiem", "#"
            .action.action-submit= link_to "Zapisz", "#"
            .action.action-cancel= link_to "Cofnij zmianę", "#"
          - else
            %h3 Czy znasz adres zabytku? (np. al. Jerozolimskie, wyspa Kępa Mieszańska, rondo Falbanka)
            .action.action-edit= link_to "Uzupełnij adres", "#"
            .action.action-skip= link_to "Nie znam", "#"
            .action.action-submit= link_to "Zapisz", "#"
            .action.action-cancel= link_to "Cofnij zmianę", "#"
        .actions.actions-done
          - if f.object.street.present?
            %h3 Czy adres zabytku jest poprawny? (np. ul. Marszałkowska 25, rondo Falbanka)
            .action.action-confirm= link_to "Potwierdź", "#"
            .action.action-edit= link_to "Zmień", "#"
            .action.action-skip= link_to "Nie wiem", "#"
            .action.action-back
              (Zrobiłeś błąd?
              = link_to "Edytuj ponownie", "#"
              )
          - else
            %h3 Czy znasz adres zabytku? (np. al. Jerozolimskie, wyspa Kępa Mieszańska, rondo Falbanka)
            .action.action-edit= link_to "Uzupełnij adres", "#"
            .action.action-skip= link_to "Nie znam", "#"
            .action.action-back.action-back-short
              (Zrobiłeś błąd?
              = link_to "Edytuj ponownie", "#"
              )

      %article.step.step-date.step-simple.step-view
        .help-content
          .help Pomoc
          .help-extended
            %span.close Zamknij pomoc
            - if f.object.street.present?
              %p
                Sprawdź, czy data jest poprawna. Jeśli jest jest poprawna, kliknij „Potwierdź”.
                Jeśli chcesz ją poprawić, kliknij „Zmień”. Pokaże się pole, w którym można poprawić datę.
                Następnie naciśnij „Zapisz”, aby zachować poprawioną datę. Jeśli nie wiesz, czy data jest poprawna,
                spróbuj znaleźć informacje na stronach internetowych lub w książkach. Jeśli Ci się nie uda, kliknij
                „Nie wiem”, a automatycznie przejdziesz do kolejnego punktu.
            - else
              %p
                Spróbuj znaleźć datę powstania zabytku (np. na stronach internetowych lub w książkach).
                Jeśli Ci się nie uda, kliknij „Nie wiem”, a automatycznie przejdziesz do kolejnego punktu.
        %span.ico
        .values.values-edit.values-view
          = f.input :dating_of_obj, :as => :string, :label => "Data powstania", :placeholder => "Brak daty powstania", :input_html => { :readonly => true }
          = f.input :dating_of_obj_action, :as => :hidden
        - if f.object.dating_of_obj.present?
          .actions.actions-view
            %h3 Czy data powstania zabytku jest poprawna? (np. 1929, XIX w., 2 poł. XIV w.)
            .action.action-confirm= link_to "Potwierdź", "#"
            .action.action-edit= link_to "Zmień", "#"
            .action.action-skip= link_to "Nie wiem", "#"
        - else
          .actions.actions-view
            %h3 Czy znasz datę powstania zabytku? (np. 1929, XIX w., 2 poł. XIV w.)
            .action.action-edit= link_to "Uzupełnij datę", "#"
            .action.action-skip= link_to "Nie znam", "#"
        .actions.actions-edit
          - if f.object.dating_of_obj.present?
            %h3 Czy data powstania zabytku jest poprawna? (np. 1929, XIX w., 2 poł. XIV w.)
            .action.action-confirm= link_to "Potwierdź", "#"
            .action.action-edit= link_to "Zmień", "#"
            .action.action-skip= link_to "Nie wiem", "#"
            .action.action-submit= link_to "Zapisz", "#"
            .action.action-cancel= link_to "Cofnij zmiany", "#"
          - else
            %h3 Czy znasz datę powstania zabytku? (np. 1929, XIX w., 2 poł. XIV w.)
            .action.action-edit= link_to "Uzupełnij datę", "#"
            .action.action-skip= link_to "Nie znam", "#"
            .action.action-submit= link_to "Zapisz", "#"
            .action.action-cancel= link_to "Cofnij zmiany", "#"
        .actions.actions-done
          - if f.object.dating_of_obj.present?
            %h3 Czy data powstania zabytku jest poprawna? (np. 1929, XIX w., 2 poł. XIV w.)
            .action.action-confirm= link_to "Potwierdź", "#"
            .action.action-edit= link_to "Zmień", "#"
            .action.action-skip= link_to "Nie wiem", "#"
            .action.action-back
              (Zrobiłeś błąd?
              = link_to "Edytuj ponownie", "#"
              )
          - else
            %h3 Czy znasz datę powstania zabytku? (np. 1929, XIX w., 2 poł. XIV w.)
            .action.action-edit= link_to "Uzupełnij datę", "#"
            .action.action-skip= link_to "Nie znam", "#"
            .action.action-back.action-back-short
              (Zrobiłeś błąd?
              = link_to "Edytuj ponownie", "#"
              )

      %article.step.step-tags.step-view
        .help-content
          .help Pomoc
          .help-extended
            %span.close Zamknij pomoc
            %p
              Wybierz określenia (klikając poszczególne słowa), które pasują do sprawdzanego zabytku.
              Zaznacz wszystkie, które uważasz za pasujące. Jeśli uważasz, że na liście brakuje pasującego określenia,
              wybierz opcję „inny”. Gdy skończysz, wciśnij „Potwierdź”. Jeśli chcesz pominąć ten punkt, wciśnij „Pomiń”.
        %span.ico

        .values.values-not-current
          = f.input :tag_names, :as => :string, :label => "Pasujące określenia",
            :input_html => { :name => "tag-names", :class => "tag-names", :readonly => true }
        .values.values-view.values-edit.values-current
          %h3 Pasujące określenia
          .actions.actions-edit.actions-view
            %p Możesz wybrać jedną lub kilka odpowiedzi. Wybierz wszystkie, które uważasz za pasujące:
          = f.input :tags_action, :as => :hidden
          .column.column-first
            = f.input :tags, :as => :check_boxes,
              :collection => Tag.first_column, :label => "",
              :input_html => { :multiple => true }
          .column.column-second
            = f.input :tags, :as => :check_boxes,
              :collection => Tag.second_column, :label => "",
              :input_html => { :multiple => true }
          .column.column-third
            = f.input :tags, :as => :check_boxes,
              :collection => Tag.third_column, :label => "",
              :input_html => { :multiple => true }
        .actions.actions-view
          %h3 Potwierdź lub pomiń:
          .action.action-submit= link_to "Potwierdź", "#"
          .action.action-skip= link_to "Pomiń", "#"
        .actions.actions-edit
          %h3 Potwierdź lub pomiń:
          .action.action-submit= link_to "Potwierdź", "#"
          .action.action-skip= link_to "Pomiń", "#"
        .actions.actions-done
          %h3 Potwierdź lub wycofaj:
          .action.action-submit= link_to "Potwierdź", "#"
          .action.action-skip= link_to "Pomiń", "#"
          .action.action-back.action-back-short
            (Zrobiłeś błąd?
            = link_to "Edytuj ponownie", "#"
            )
      - if f.object.suggestions.size > 0

        %section.subrelics

          %h3 W skład zespołu wchodzą:

          = f.semantic_fields_for :suggestions do |f2|

            = f2.hidden_field :relic_id, :value => f2.object.relic.id

            %article.subrelic

              %article.step.step-name.step-simple.step-view
                .help-content
                  .help Pomoc
                  .help-extended
                    %span.close Zamknij pomoc
                    %p
                      Sprawdź, czy nazwa zabytku jest poprawna (np. jeśli zaczyna się od małej litery, popraw ją na wielką).
                      Jeśli chcesz ją poprawić, kliknij „Zmień”. Pojawi się pole, w którym można poprawić nazwę.
                      Następnie naciśnij „Zapisz”, aby zachować poprawioną nazwę. Jeśli jest poprawna, kliknij „Potwierdź”.
                      Jeśli nie wiesz, czy nazwa jest poprawna, spróbuj znaleźć informacje na stronach internetowych lub w książkach.
                      Jeśli Ci się nie uda, kliknij „Nie wiem”, a automatycznie przejdziesz do kolejnego punktu.
                      W przypadku popełnienia błędu kliknij „Edytuj ponownie” i edytuj ponownie.
                .values.values-edit.values-view
                  = f2.input :identification, :as => :string, :label => "Nazwa zabytku", :input_html => { :readonly => true }
                  = f2.input :identification_action, :as => :hidden
                .actions.actions-view
                  %h3 Czy nazwa zabytku jest poprawna? (Jeśli nie wiesz, prosimy, poszukaj odpowiedzi.)
                  .action.action-confirm= link_to "Potwierdź", "#"
                  .action.action-edit= link_to "Zmień", "#"
                  .action.action-skip= link_to "Nie wiem", "#"
                .actions.actions-edit
                  %h3 Czy nazwa zabytku jest poprawna? (Jeśli nie wiesz, prosimy, poszukaj odpowiedzi.)
                  .action.action-confirm= link_to "Potwierdź", "#"
                  .action.action-edit= link_to "Zmień", "#"
                  .action.action-skip= link_to "Nie wiem", "#"
                  .action.action-submit= link_to "Zapisz", "#"
                  .action.action-cancel= link_to "Cofnij zmianę", "#"
                .actions.actions-done
                  %h3 Czy nazwa zabytku jest poprawna? (Jeśli nie wiesz, prosimy, poszukaj odpowiedzi.)
                  .action.action-confirm= link_to "Potwierdź", "#"
                  .action.action-edit= link_to "Zmień", "#"
                  .action.action-skip= link_to "Nie wiem", "#"
                  .action.action-back
                    (Zrobiłeś błąd?
                    = link_to "Edytuj ponownie", "#"
                    )

              %article.step.step-date.step-simple.step-view
                .help-content
                  .help Pomoc
                  .help-extended
                    %span.close Zamknij pomoc
                    - if f.object.street.present?
                      %p
                        Sprawdź, czy data jest poprawna. Jeśli jest jest poprawna, kliknij „Potwierdź”.
                        Jeśli chcesz ją poprawić, kliknij „Zmień”. Pokaże się pole, w którym można poprawić datę.
                        Następnie naciśnij „Zapisz”, aby zachować poprawioną datę. Jeśli nie wiesz, czy data jest poprawna,
                        spróbuj znaleźć informacje na stronach internetowych lub w książkach. Jeśli Ci się nie uda, kliknij
                        „Nie wiem”, a automatycznie przejdziesz do kolejnego punktu.
                    - else
                      %p
                        Spróbuj znaleźć datę powstania zabytku (np. na stronach internetowych lub w książkach).
                        Jeśli Ci się nie uda, kliknij „Nie wiem”, a automatycznie przejdziesz do kolejnego punktu.
                .values.values-edit.values-view
                  = f2.input :dating_of_obj, :as => :string, :label => "Z kiedy?", :placeholder => "Brak daty powstania", :input_html => { :readonly => true }
                  = f2.input :dating_of_obj_action, :as => :hidden

                - if f2.object.dating_of_obj.present?
                  .actions.actions-view
                    %h3 Czy data powstania zabytku jest poprawna? (np. 1929, XIX w., 2 poł. XIV w.)
                    .action.action-confirm= link_to "Potwierdź", "#"
                    .action.action-edit= link_to "Zmień", "#"
                    .action.action-skip= link_to "Nie wiem", "#"
                - else
                  .actions.actions-view
                    %h3 Czy znasz datę powstania zabytku? (np. 1929, XIX w., 2 poł. XIV w.)
                    .action.action-edit= link_to "Uzupełnij datę", "#"
                    .action.action-skip= link_to "Nie znam", "#"
                .actions.actions-edit
                  - if f2.object.dating_of_obj.present?
                    %h3 Czy data powstania zabytku jest poprawna? (np. 1929, XIX w., 2 poł. XIV w.)
                    .action.action-confirm= link_to "Potwierdź", "#"
                    .action.action-edit= link_to "Zmień", "#"
                    .action.action-skip= link_to "Nie wiem", "#"
                    .action.action-submit= link_to "Zapisz", "#"
                    .action.action-cancel= link_to "Cofnij zmiany", "#"
                  - else
                    %h3 Czy znasz datę powstania zabytku? (np. 1929, XIX w., 2 poł. XIV w.)
                    .action.action-edit= link_to "Uzupełnij datę", "#"
                    .action.action-skip= link_to "Nie znam", "#"
                    .action.action-submit= link_to "Zapisz", "#"
                    .action.action-cancel= link_to "Cofnij zmiany", "#"
                .actions.actions-done
                  - if f2.object.dating_of_obj.present?
                    %h3 Czy data powstania zabytku jest poprawna? (np. 1929, XIX w., 2 poł. XIV w.)
                    .action.action-confirm= link_to "Potwierdź", "#"
                    .action.action-edit= link_to "Zmień", "#"
                    .action.action-skip= link_to "Nie wiem", "#"
                    .action-back
                      (Zrobiłeś błąd?
                      = link_to "Edytuj ponownie", "#"
                      )
                  - else
                    %h3 Czy znasz datę powstania zabytku? (np. 1929, XIX w., 2 poł. XIV w.)
                    .action.action-edit= link_to "Uzupełnij datę", "#"
                    .action.action-skip= link_to "Nie znam", "#"
                    .action-back.action-back-short
                      (Zrobiłeś błąd?
                      = link_to "Edytuj ponownie", "#"
                      )

              %article.step.step-tags.step-view

                .help-content
                  .help Pomoc
                  .help-extended
                    %span.close Zamknij pomoc
                    %p
                      Wybierz określenia (klikając poszczególne słowa), które pasują do sprawdzanego zabytku.
                      Zaznacz wszystkie, które uważasz za pasujące. Jeśli uważasz, że na liście brakuje pasującego określenia,
                      wybierz opcję „inny”. Gdy skończysz, wciśnij „Potwierdź”. Jeśli chcesz pominąć ten punkt, wciśnij „Pomiń”.

                .values.values-not-current
                  = f2.input :tag_names, :as => :string, :label => "Pasujące określenia",
                    :input_html => { :name => "tag-names", :class => "tag-names", :readonly => true }
                .values.values-view.values-edit.values-current
                  %h3 Pasujące określenia
                  = f2.input :tags_action, :as => :hidden
                  .column.column-first
                    = f2.input :tags, :as => :check_boxes,
                      :collection => Tag.first_column, :label => "",
                      :input_html => { :multiple => true }
                  .column.column-second
                    = f2.input :tags, :as => :check_boxes,
                      :collection => Tag.second_column, :label => "",
                      :input_html => { :multiple => true }
                  .column.column-third
                    = f2.input :tags, :as => :check_boxes,
                      :collection => Tag.third_column, :label => "",
                      :input_html => { :multiple => true }

                .actions.actions-view
                  %h3 Potwierdź lub pomiń:
                  .action.action-submit= link_to "Potwierdź", "#"
                  .action.action-skip= link_to "Pomiń", "#"

                .actions.actions-edit
                  %h3 Potwierdź lub pomiń:
                  .action.action-submit= link_to "Potwierdź", "#"
                  .action.action-skip= link_to "Pomiń", "#"
                .actions.actions-done
                  %h3 Potwierdź lub wycofaj:
                  .action.action-submit= link_to "Potwierdź", "#"
                  .action.action-skip= link_to "Pomiń", "#"
                  .action.action-back.action-back-short
                    (Zrobiłeś błąd?
                    = link_to "Edytuj ponownie", "#"
                    )
      %article.step.step-gps.step-view
        .help-content
          .help Pomoc
          .help-extended
            %span.close Zamknij pomoc
            - if suggestion.suggestions.size == 0
              %p Znajdź zabytek na mapie. Widok możesz przybliżać i oddalać przy użyciu przycisków „+” i „-”, które znajdziesz w lewym górnym rogu mapy. Gdy znajdziesz na mapie miejsce, w którym położony jest sprawdzany zabytek, przeciągnij tam czerwony znacznik z pola po prawej stronie. Gdy skończysz, wciśnij „Potwierdź”. Jeśli chcesz przerwać lub pominąć ten krok, wciśnij „Nie znam”.
            - else
              %p Postaraj się wskazać punkt środkowy zespołu zabytków (adres w wypadku zespołów zabytków nie zawsze dobrze podpowiada to miejsce). Jeśli trudno jest Ci określić to miejsce, spójrz na załączone przykłady. Dla takich zespołów jak np. mury miejskie, znajdź charakterystyczne miejsce (np. baszta).
              .map
                = link_to image_tag("help-map-group-thumb-1.png"), image_path("help-map-group-zielen.jpg"), :class => "colorbox", :title => "Przykład oznaczenia - punkt centralny"
                = link_to image_tag("help-map-group-thumb-2.png"), image_path("help-map-group-mury.jpg"), :class => "colorbox", :title => "Przykład oznaczania: wybierzch charakterystyczne miejsce (np. dla murów miejskich baszta)"

              %p Widok mapy możesz przybliżać i oddalać przy użyciu „+” i „-”, które znajdziesz w lewym górnym rogu mapy. Gdy znajdziesz na mapie właściwe miejsce, przeciągnij czerwony znacznik z pola po lewej stronie. Gdy skończysz, wciśnij „Tak, potwierdzam”.

              %p Jeśli chcesz pominąć ten krok, wciśnij „Nie, pomiń”."
        %span.ico
        .values.values-edit.values-view
          .map-overlay
          %label Położenie GPS
          .gps-helper
          #map_canvas

        .actions.actions-edit.actions-view.actions-navbar
          .marker-helper
            %h4 Przeciągnij znacznik na mapę:
            .marker-holder
              = image_tag 'marker.png', :id => 'marker'
          = f.input :latitude, :as => :string, :label => "szerokość geograficzna", :placeholder => "szerokość", :input_html => { :maxlength => 10, :readonly => "readonly" }
          = f.input :longitude, :as => :string, :label => "długość geograficzna", :placeholder => "długość", :input_html => { :maxlength => 10, :readonly => "readonly" }
          = f.input :coordinates_action, :as => :hidden

        .actions.actions-view
          %h3 Czy udało Ci się zaznaczyć właściwą lokalizację?
          .action.action-submit.btn= link_to "Potwierdź", "#"
          .action.action-skip.btn= link_to "Nie znam", "#"

        .actions.actions-edit
          %h3 Czy udało Ci się zaznaczyć właściwą lokalizację?
          .action.action-submit.btn= link_to "Potwierdź", "#"
          .action.action-skip.btn= link_to "Nie znam", "#"

        .actions.actions-done
          %h3 Czy udało Ci się zaznaczyć właściwą lokalizację?
          .action.action-submit.btn= link_to "Potwierdź", "#"
          .action.action-skip.btn= link_to "Nie znam", "#"
          .action.action-back.action-back-short
            (Zrobiłeś błąd?
            = link_to "Edytuj ponownie", "#"
            )

      %article.step.step-submit.step-view
        .actions.actions-view.actions-edit
          %h2 Jeśli wszystkie pola zostały sprawdzone, potwierdź wysłanie formularza
          - if need_captcha
            %h3 Jednak przedtem, w celu weryfikacji czy jesteś człowiekiem, prosimy o przepisanie następujących słów:
            = recaptcha_tags
          = f.submit "Wyślij formularz"

%script(type="text/css" id="after_load_css")
  :css
    body.loaded .step {
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }

    body.loaded .step  * {
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }

    .step .ico, .step .help-content, .step .values *, .step-place .values *, .step .actions-navbar *, .step-gps, .step-gps *, .step-submit *, .step-submit {
      -webkit-transition: none !important;
      -moz-transition: none !important;
      -o-transition: none !important;
      -ms-transition: none !important;
      transition: none !important;
    }

- content_for :footer_javascripts do
  != javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyAXlMDzvgp5OmKomylA1vjcWub2EmYaz1A&sensor=false".html_safe
  != javascript_include_tag "wizard"
