.edit_relic
  %nav
    %h1 Edycja zabytku
    %ul
      %li.general= link_to_section_tab :general
      %li.location= link_to_section_tab :location
      %li.events= link_to_section_tab :events
      %li.description= link_to_section_tab :description
      %li.categories= link_to_section_tab :categories
      %li.entries= link_to_section_tab :entries
      %li.links= link_to_section_tab :links
      %li.documents= link_to_section_tab :documents
      %li.photos=  link_to_section_tab :photos
  - if params[:section].present?
    %section.edit{ :class => params[:section] }
      %h2= t "relic_tabs.#{params[:section]}.name"
      - if request.xhr?
        = render 'shared/flash', :flash => flash
      .row{:class => "#{params[:section]}"}
        %p.description= t "relic_tabs.#{params[:section]}.description"
      = render :partial => "relics/edit/#{params[:section]}"