#relic-edit
  .page-header
    %h1 
      3. Popraw zabytek
      %span= suggestion.relic.place_full_name(false)
  = semantic_form_for suggestion, :url => relic_path, :method => :put,
    :html => { :data => { :commune => suggestion.relic.commune.name,
                          :district => suggestion.relic.district.name,
                          :voivodeship => suggestion.relic.voivodeship.name } } do |f|
    %section.steps

      %article.step.step-name.step-view.step-current
        %span.ico
        .help-content
          .help Pomoc
          .help-extended
            %span.close Zamknij pomoc
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in tortor odio, non pretium augue. Ut sit amet diam sed dolor cursus iaculis. Nulla ut mauris sem. Praesent in gravida felis.
        .values.values-edit.values-view
          = f.input :identification, :as => :string, :label => "Nazwa", :input_html => { :readonly => true }
          = f.input :identification_action, :as => :hidden
        .actions.actions-view
          %h3 Czy nazwa zabytku jest poprawna? (Jeśli nie wiesz, prosimy, poszukaj odpowiedzi.)
          .action.action-confirm= link_to "Tak, jest poprawna" 
          .action.action-edit= link_to "Nie, chcę ją poprawić"
          .action.action-skip= link_to "Nie wiem, pomiń"
        .actions.actions-edit
          %h3 Czy nazwa zabytku jest poprawna? (Jeśli nie wiesz, prosimy, poszukaj odpowiedzi.) 
          .action.action-confirm= link_to "Tak, jest poprawna" 
          .action.action-edit= link_to "Nie, chcę ją poprawić"
          .action.action-skip= link_to "Nie wiem, pomiń"
          .action.action-submit= link_to "Zapisz"
          .action.action-cancel= link_to "cofnij zmianę"
        .actions.actions-done
          %h3 Czy nazwa zabytku jest poprawna? (Jeśli nie wiesz, prosimy, poszukaj odpowiedzi.)
          .action.action-confirm= link_to "Tak, jest poprawna" 
          .action.action-edit= link_to "Nie, chcę ją poprawić"
          .action.action-skip= link_to "Nie wiem, pomiń"
          .action.action-back
            (zrobiłeś błąd?
            = link_to "cofnij"
            )

      %article.step.step-place.step-view
        %span.ico
        .help-content
          .help Pomoc
          .help-extended
            %span.close Zamknij pomoc
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in tortor odio, non pretium augue. Ut sit amet diam sed dolor cursus iaculis. Nulla ut mauris sem. Praesent in gravida felis.
        .values.values-view
          = f.input :place_name, :as => :string, :label => "Miejscowość",
            :input_html => { :name => "place_name_viewer", :id => "place_name_viewer", :readonly => true }
        .values.values-edit
          = f.input :place_id, :as => :select,
            :collection => f.object.relic.commune.places, :selected => f.object.place.id, :label => "Miejscowość",
            :include_blank => false

          = f.input :place_id_action, :as => :hidden

        .actions.actions-view
          %h3 Czy nazwa miejscowości jest poprawna? 
          .action.action-confirm= link_to "Tak, jest poprawna" 
          .action.action-edit= link_to "Nie, chcę ją poprawić"
          .action.action-skip= link_to "Nie wiem, pomiń"
        .actions.actions-edit
          %h3 Czy nazwa miejscowości jest poprawna? 
          .action.action-confirm= link_to "Tak, jest poprawna" 
          .action.action-edit= link_to "Nie, chcę ją poprawić"
          .action.action-skip= link_to "Nie wiem, pomiń"
          .action.action-submit= link_to "Zapisz"
          .action.action-cancel= link_to "cofnij zmianę"
        .actions.actions-done
          %h3 Czy nazwa miejscowości jest poprawna?
          .action.action-confirm= link_to "Tak, jest poprawna" 
          .action.action-edit= link_to "Nie, chcę ją poprawić"
          .action.action-skip= link_to "Nie wiem, pomiń"
          .action.action-back
            (zrobiłeś błąd?
            = link_to "cofnij"
            )
      %article.step.step-street.step-view
        .help-content
          .help Pomoc
          .help-extended
            %span.close Zamknij pomoc
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in tortor odio, non pretium augue. Ut sit amet diam sed dolor cursus iaculis. Nulla ut mauris sem. Praesent in gravida felis.
        %span.ico
        .values.values-edit.values-view
          = f.input :street, :as => :string, :label => "Adres", :placeholder => "Brak danych", :input_html => { :readonly => true }
          = f.input :street_action, :as => :hidden
        .actions.actions-view
          - if f.object.street.present?
            %h3 Czy adres zabytku jest poprawny? (np. Marszałkowska 25, rondo Falbanka) 
            .action.action-confirm= link_to "Tak, jest poprawny" 
            .action.action-edit= link_to "Nie, chcę go poprawić"
            .action.action-skip= link_to "Nie wiem, pomiń"
          - else
            %h3 Czy adres jest poprawny? (np. al. Jerozolimskie, wyspa Kępa Mieszczańska, rondo Falbanka) 
            .action.action-edit= link_to "Tak, chcę uzupełnić adres"
            .action.action-skip= link_to "Nie wiem, pomiń"
        .actions.actions-edit
          - if f.object.street.present?
            %h3 Czy adres zabytku jest poprawny? (np. Marszałkowska 25, rondo Falbanka) 
            .action.action-confirm= link_to "Tak, jest poprawny" 
            .action.action-edit= link_to "Nie, chcę go poprawić"
            .action.action-skip= link_to "Nie wiem, pomiń"
            .action.action-submit= link_to "Zapisz"
            .action.action-cancel= link_to "cofnij zmianę"
          - else
            %h3 Czy znasz adres pod jakim leży zabytek?
            .action.action-submit= link_to "Zapisz"
            .action.action-cancel= link_to "cofnij zmianę"
        .actions.actions-done
          %h3 Czy adres zabytku jest poprawny? (np. Marszałkowska 25, rondo Falbanka) 
          .action.action-confirm= link_to "Tak, jest poprawny" 
          .action.action-edit= link_to "Nie, chcę go poprawić"
          .action.action-skip= link_to "Nie wiem, pomiń"
          .action.action-back
            (zrobiłeś błąd?
            = link_to "cofnij"
            )

      %article.step.step-date.step-view
        .help-content
          .help Pomoc
          .help-extended
            %span.close Zamknij pomoc
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in tortor odio, non pretium augue. Ut sit amet diam sed dolor cursus iaculis. Nulla ut mauris sem. Praesent in gravida felis.
        %span.ico
        .values.values-edit.values-view
          = f.input :dating_of_obj, :as => :string, :label => "Data powstania", :placeholder => "Brak danych", :input_html => { :readonly => true }
          = f.input :dating_of_obj_action, :as => :hidden
        - if f.object.dating_of_obj.present?
          .actions.actions-view 
            %h3 Czy data powstania obiektu jest poprawna? (np. 1929, XIX w., 2 poł. XIV w.) 
            .action.action-confirm= link_to "Tak, jest poprawna" 
            .action.action-edit= link_to "Nie, chcę ją poprawić"
            .action.action-skip= link_to "Nie wiem, pomiń"
        - else
          .actions.actions-view
            %h3 Czy data powstania obiektu jest poprawna? (np. 1929, XIX w., 2 poł. XIV w.)
            .action.action-edit= link_to "Tak, chcę poprawić datę"
            .action.action-skip= link_to "Nie wiem, pomiń"
        .actions.actions-edit
          - if f.object.dating_of_obj.present?
            %h3 Czy data powstania obiektu jest poprawna? (np. 1929, XIX w., 2 poł. XIV w.)
            .action.action-confirm= link_to "Tak, jest poprawna" 
            .action.action-edit= link_to "Nie, chcę ją poprawić"
            .action.action-skip= link_to "Nie wiem, pomiń"
            .action.action-submit= link_to "Zapisz"
            .action.action-cancel= link_to "cofnij zmiany"
          - else
            %h3 Czy data powstania obiektu jest poprawna? (np. 1929, XIX w., 2 poł. XIV w.) 
            .action.action-confirm= link_to "Tak, jest poprawna" 
            .action.action-edit= link_to "Nie, chcę ją poprawić"
            .action.action-skip= link_to "Nie wiem, pomiń"
            .action.action-submit= link_to "Zapisz"
            .action.action-cancel= link_to "cofnij zmiany"
        .actions.actions-done
          %h3 Czy data powstania obiektu jest poprawna? (np. 1929, XIX w., 2 poł. XIV w.) 
          .action.action-confirm= link_to "Tak, jest poprawna" 
          .action.action-edit= link_to "Nie, chcę ją poprawić"
          .action.action-skip= link_to "Nie wiem, pomiń"
          .action.action-back
            (zrobiłeś błąd?
            = link_to "cofnij"
            )  

      %article.step.step-tags.step-view
        .help-content
          .help Pomoc
          .help-extended
            %span.close Zamknij pomoc
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in tortor odio, non pretium augue. Ut sit amet diam sed dolor cursus iaculis. Nulla ut mauris sem. Praesent in gravida felis.
        %span.ico
        .values.values-view.values-edit
          %h3 Pasujące określenia
          .actions.actions-edit
            %p Możesz wybrać jedną lub kilka odpowiedzi. Wybierz wszystkie, które uważasz za pasujące:
          = f.input :tags_action, :as => :hidden
          .column
            = f.input :tags, :as => :check_boxes,
              :collection => Tag.first_column, :label => "",
              :input_html => { :multiple => true }
          .column
            = f.input :tags, :as => :check_boxes,
              :collection => Tag.second_column, :label => "",
              :input_html => { :multiple => true }
          .column
            = f.input :tags, :as => :check_boxes,
              :collection => Tag.third_column, :label => "",
              :input_html => { :multiple => true }
        .actions.actions-edit
          %h3 Potwierdź lub pomiń swój wybór:
          .action.action-submit= link_to "Potwierdzam"
          .action.action-skip= link_to "Nie jestem pewien, pomiń"
        .actions.actions-done
          %h3 Potwierdź lub wycofaj swój wybór:
          .action.action-submit= link_to "Akceptuję"
          .action.action-skip= link_to "Nie wiem, pomiń"
          .action.action-back
            (zrobiłeś błąd?
            = link_to "cofnij"
            )
      - if f.object.suggestions.size > 0

        %section.subrelics

          %h3 W skład zespołu wchodzą:

          = f.semantic_fields_for :suggestions do |f2|

            = f2.hidden_field :relic_id, :value => f2.object.relic.id

            %article.subrelic

              %article.step.step-name.step-view
                .values.values-edit.values-view
                  = f2.input :identification, :as => :string, :label => "Nazwa zabytku", :input_html => { :readonly => true }
                  = f2.input :identification_action, :as => :hidden
                .actions.actions-view
                  %h3 Czy nazwa jest poprawna?
                  .action.action-edit= link_to "Chcę poprawić nazwę"
                  .action.action-confirm= link_to "Nazwa jest poprawna"
                  .action.action-skip= link_to "Nie wiem, pomiń"
                .actions.actions-edit
                  %h3 Czy nazwa jest poprawna?
                  .action.action-submit= link_to "Zatwierdź"
                  .action.action-cancel= link_to "Anuluj"
                .actions.actions-done
                  .action.action-back= link_to "Cofnij"

              %article.step.step-date.step-view
                .values.values-edit.values-view
                  = f2.input :dating_of_obj, :as => :string, :label => "Z kiedy?", :placeholder => "Brak danych", :input_html => { :readonly => true }
                  = f2.input :dating_of_obj_action, :as => :hidden
                - if f2.object.dating_of_obj.present?
                  .actions.actions-view
                    %h3 Czy data jest poprawna?
                    .action.action-edit= link_to "Chcę poprawić datę"
                    .action.action-confirm= link_to "Data jest poprawna"
                    .action.action-skip= link_to "Nie wiem, pomiń"
                - else
                  .actions.actions-view
                    %h3 Czy znasz datę powstania zabytku?
                    .action.action-edit= link_to "Tak, chcę podać datę"
                    .action.action-skip= link_to "Nie wiem, pomiń"
                .actions.actions-edit
                  - if f2.object.dating_of_obj.present?
                    %h3 Czy znasz ulicę na jakiej leży zabytek?
                    .action.action-submit= link_to "Zatwierdź"
                    .action.action-cancel= link_to "Anuluj"
                  - else
                    %h3 Czy znasz datę powstania zabytku?
                    .action.action-submit= link_to "Zatwierdź"
                    .action.action-cancel= link_to "Anuluj"
                .actions.actions-done
                  .action.action-back= link_to "Cofnij"

              %article.step.step-tags.step-view
                .values.values-view.values-edit
                  %h3 Dopasuj kategorie do zabytku
                  = f2.input :tags_action, :as => :hidden
                  .column
                    = f2.input :tags, :as => :check_boxes,
                      :collection => Tag.first_column, :label => "",
                      :input_html => { :multiple => true }
                  .column
                    = f2.input :tags, :as => :check_boxes,
                      :collection => Tag.second_column, :label => "",
                      :input_html => { :multiple => true }
                  .column
                    = f2.input :tags, :as => :check_boxes,
                      :collection => Tag.third_column, :label => "",
                      :input_html => { :multiple => true }
                .actions.actions-edit
                  .action.action-submit= link_to "Zatwierdź"
                  .action.action-skip= link_to "Pomiń"
                .actions.actions-done
                  .action.action-back= link_to "Cofnij"

      %article.step.step-gps.step-view
        .help-content
          .help Pomoc
          .help-extended
            %span.close Zamknij pomoc
            %p Znajdź zabytek na mapie i przeciągnij znacznik na jego miejsce.
            .map
        %span.ico
        .values.values-edit.values-view
          %label Położenie GPS
          .gps-helper
          #map_canvas

        .actions.actions-view
          .marker-helper
            %h4 Przeciągnij znacznik na mapę:
            .marker-holder
              = image_tag 'marker.png', :id => 'marker'
          .buttons
            %p Nie możesz znaleźć?  
            .action.action-skip.btn= link_to "Pomiń"

        .actions.actions-edit
          .marker-helper
            %h4 Przeciągnij znacznik na mapę:
            .marker-holder
          .buttons
            %h3 Czy udało Ci się zaznaczyć właściwą lokalizację?
            .action.action-submit.btn= link_to "Tak, potwierdzam"
            .action.action-cancel.btn= link_to "Nie, pomiń"
          
            
          = f.input :longitude, :as => :string, :label => "długość geograficzna", :placeholder => "długość", :input_html => { :maxlength => 9 }   
          = f.input :latitude, :as => :string, :label => "szerokość geograficzna", :placeholder => "szerokość", :input_html => { :maxlength => 9 }
          = f.input :coordinates_action, :as => :hidden

        .actions.actions-done
          .buttons
            %h3 Czy udało Ci się zaznaczyć właściwą lokalizację?
            .action.action-submit.btn= link_to "Tak, potwierdzam"
            .action.action-cancel.btn= link_to "Nie, pomiń"
            .action.action-back.btn= link_to "Cofnij"

      %article.step.step-submit.step-view
        .actions.actions-view.actions-edit
          %h2 Jeśli wszystkie pola są poprawione, potwierdź wysłanie formularza
          - if need_captcha
            %h3 Jednak przedtem, w celu weryfikacji czy jesteś człowiekiem, prosimy o przepisanie następujących słów:
            = recaptcha_tags
          = f.submit "Wyślij formularz"
