.span3
  = render 'localization_facets'

%div{:class => relics.empty? ? "span9" : "span9"}
  #relics
    - model_class = Relic.new.class
    .page-header
      %h1 2. Wybierz zabytek:
      %span.arrow

    - if relics.incorrect_count.zero?
      .search-no-results
        %p
          Nie ma do sprawdzenia żadnych zabytków
          %br
          pasujących do słowa
          %strong „#{params[:q1]}”
        %p
          Możesz natomiast przejrzeć listę innych zabytków, które wymagają sprawdzenia:
          %br
          = random_search_suggestions
    - elsif @pending.present?
      %div.relic-header
        %h2 Zabytki do sprawdzenia (#{relics.incorrect_count})
        - if location_breadcrumbs.present?
          %div.breadcrumb
            %p Gdzie:
            %ul
              - c = location_breadcrumbs.size
              - location_breadcrumbs.take(c-1).each do |l|
                %li
                  = link_to l[:label], l[:path]
                  %span &#187;
              %li= location_breadcrumbs.last[:label]

      = render :partial => "relics", :locals => {:collection => @pending }

    - if @corrected.present?
      %div.relic-header
        %h2.changed Zabytki sprawdzone (#{relics.correct_count})

      = render :partial => "relics", :locals => {:collection => @corrected }

    = paginate relics


