.span3
  = render 'localization_facets'

%div{:class => relics.empty? ? "span9" : "span9"}
  #relics
    - model_class = Relic.new.class
    .page-header
      %h1 2. Wybierz zabytek:
      %span.arrow

    - if relics.total.zero?
      .search-no-results
        %p
          Nie ma do sprawdzenia żadnych zabytków
          %br
          pasujących do słowa
          %strong „#{tsearch.query}”
        - if tsearch.suggestions.present?
          %p
            Czy chodziło ci może o:
            - tsearch.suggestions.each do |s|
              %strong= "#{s.identification},"

    - elsif relics.present?
      %div.relic-header
        %h2 Zabytki (#{relics.total})
        -# - if location_breadcrumbs.present?
        -#   %div.breadcrumb
        -#     %p Gdzie:
        -#     %ul
        -#       - c = location_breadcrumbs.size
        -#       - location_breadcrumbs.take(c-1).each do |l|
        -#         %li
        -#           = link_to l[:label], l[:path], :remote => true
        -#           %span &#187;
        -#       %li= location_breadcrumbs.last[:label]

      = render :partial => "relics", :locals => {:collection => relics }

    = paginate relics, :remote => true

    - unless relics.incorrect_count.zero?
      %p#adding-note
        Chesz dodać zabytek, którego nie możesz znaleźć?
        %br
        Będzie to możliwe za miesiąc, w pełnej wersji serwisu.

