#relics
  - model_class = Relic.new.class
  .page-header
    %h1 Zabytki (#{relics.total_count})
    %span.arrow

  - corrected_arry = []
  - if relics.first.corrected?
    %div.relic-header
      %h2.changed Zabytki poprawione
  - else
    %div.relic-header
      %h2 Zabytki niepoprawione
      %div.breadcrumb
        %p Gdzie:
        %ul
          %li
            %a{:href => ''} Cała Polska
            %span &#187;
          %li
            %a{:href => ''} mazowieckie
            %span &#187;
          %li
            %a{:href => ''} pow. Warszawa

  .search-results
    - relics.each_with_index do |relic, i|

      -# display header for corrected relics
      - corrected_arry << relic.corrected?
      - if corrected_arry.size > 1 and !corrected_arry[i-1] and corrected_arry[i]
        %div.relic-header
          %h2.changed Zabytki poprawione

      -# relic details
      .relic
        .name
          = link_to relic.identification, relic_path(relic)
        .pathway= relic.place_full_name
        .street= relic.street
        .include
          - if relic.has_children?
            %span
            = relic.descendants.map(&:identification).join(', ')
        - if relic.corrected?
          .modified
        - else
          .change
            = link_to "Popraw »", edit_relic_path(relic), :class => 'btn btn-mini'

  = paginate relics

  - content_for :sidebar do
    = render 'localization_facets'

