#relics
  - model_class = Relic.new.class
  .page-header
    %h1 2. Wybierz zabytek:
    -# %h1 Zabytki (#{relics.total_count})
    %span.arrow

  - corrected_arry = []
  - if relics.first.try(:corrected?)
    %div.relic-header
      %h2.changed Zabytki sprawdzone (#{relics.correct_count})
  - else
    %div.relic-header
      %h2 Zabytki do sprawdzenia (#{relics.incorrect_count})
      %div.breadcrumb
        %p Gdzie:
        %ul
          - location_breadcrumbs.each_with_index do |l, i|
            %li
              = link_to l[:label], l[:path]
              - if i < location_breadcrumbs.size - 1
                %span &#187;

  .search-results
    - relics.each_with_index do |relic, i|

      -# display header for corrected relics
      - corrected_arry << relic.corrected?
      - if corrected_arry.size > 1 and !corrected_arry[i-1] and corrected_arry[i]
        %div.relic-header
          %h2.changed Zabytki poprawione (#{relics.correct_count})

      -# relic details
      .relic
        .name
          = link_to relic.identification, relic_path(relic)
        .pathway= relic.place_full_name
        .street= relic.street
        .include
          - if relic.has_children?
            %span
            = relic.descendants.map(&:identification).join(', ')
        - if relic.corrected?
          .modified
        - else
          .change
            = link_to "Sprawdź »", edit_relic_path(relic), :class => 'btn btn-mini'

  = paginate relics

  - content_for :sidebar do
    = render 'localization_facets'

