- unless relics.empty?
  .span3
    = render 'localization_facets'
  
%div{:class => relics.empty? ? "span12" : "span3"}
  #relics
    - model_class = Relic.new.class
    .page-header
      %h1 2. Wybierz zabytek:
      %span.arrow

    - corrected_arry = []
    - if relics.first.try(:corrected?, current_user)
      %div.relic-header
        %h2.changed Zabytki sprawdzone (#{relics.correct_count})
    - else
      %div.relic-header
        %h2 Zabytki do sprawdzenia (#{relics.incorrect_count})
        - if location_breadcrumbs.present?
          %div.breadcrumb
            %p Gdzie:
            %ul
              - location_breadcrumbs.each_with_index do |l, i|
                %li
                  = link_to l[:label], l[:path]
                  - if i < location_breadcrumbs.size - 1
                    %span &#187;

    - if relics.empty?
      .search-no-results
        %p
          Nie ma do sprawdzenie żadnych zabytków poasujących do słowa
          %strong "#{params[:q1]}"
      
        %p
          Możesz natomiast przejrzeć listę innych zabytków, które wymagają sprawdzenia:
          = random_search_suggestions
    
    - else
      .search-results
        - relics.each_with_index do |relic, i|

          -# display header for corrected relics
          - corrected_arry << relic.corrected?(current_user)
          - if corrected_arry.size > 1 and !corrected_arry[i-1] and corrected_arry[i]
            %div.relic-header
              %h2.changed Zabytki poprawione (#{relics.correct_count})

          -# relic details
          .relic
            .name
              = link_to relic.identification, edit_relic_path(relic)
            .pathway= relic.place_full_name
            .street= relic.street
            .include
              - if relic.descendants.present?
                %span
                = relic.descendants.map(&:identification).join(', ')
            - if relic.corrected?(current_user)
              .modified
            - else
              .change
                = link_to "Sprawdź »", edit_relic_path(relic), :class => 'btn btn-mini'

      = paginate relics


