= semantic_form_for tsearch, :url => relics_path, :method => :get, :remote => true do |f|
  = f.hidden_field :location, :value => f.object.location.join('-')
  .span3
    = render 'localization_facets'
    = f.input :categories, :as => :check_boxes, :collection => categoires_facets, :disabled => disabled(f.object, 'categories'), :label => 'Kategorie'


  %div{:class => relics.empty? ? "span9" : "span9"}
    #relics
      .form-advance-search
        %section.main-search
          .field.subject
            = f.input :q, :label => "Co:", :placeholder => "co", :input_html => { :class => 'autocomplete-q'}, :hint => "np. cmentarz, stocznie poniemieckie, chopinowski"

          .field.place
            = f.input :place, :label => "Gdzie:", :placeholder => "gdzie", :input_html => { :class => 'autocomplete-place'}, :hint => "np. Małkinia, ul. Grodzka w Krakowie"
          .field.time
            %label Data powstania:
            %span.block np. pocz. XIV w., 1780, 1919-1913
            .wrap
              = f.input :from,  :label => "od:"
              = f.input :to,    :label => "do:"
          .field
            = f.action :submit, :label => 'Szukaj &raquo;'.html_safe, :button_html => { :name => nil }
        %section.second-search
          .wrap
            .column
              %h4
                Stan:
                .help
                  = image_tag 'ico-help.png'
                  .help-wrapper
                    = link_to 'zamknij', '#', :class => 'close'
                    %h3 Oznaczenia stanu
                    %ul
                      %li
                        .tag
                          %span.done Uzupełniony
                        .text
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mattis vulputate nulla adipisci.
                      %li
                        .tag
                          %span.undone Nieuzupełniony
                        .text
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mattis vulputate nulla adipisci.
                      %li
                        .tag
                          %span.unchecked Niesprawdzony
                        .text
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mattis vulputate nulla adipisci.
              = f.input :state, :label => false, :as => :check_boxes, :collection => state_facets,      :disabled => disabled(f.object, 'state')
            .column
              %h4 Zawartość:
              = f.input :has_photos, :label => false, :as => :check_boxes, :collection => has_photos_facets,  :disabled => disabled(f.object, 'has_photos')
              = f.input :has_description, :label => false, :as => :check_boxes, :collection => has_description_facets,  :disabled => disabled(f.object, 'has_description')
            .column
              %h4 Rodzaj:
              = f.input :existance, :label => false, :as => :check_boxes, :collection => existance_facets,  :disabled => disabled(f.object, 'existance')
        %section.order
          = f.input :order, :as => :select, :label => "sortuj według:", :collection => order_collection, :include_blank => false, :selected => f.object.order
      - model_class = Relic.new.class
      - if relics.total.zero?
        .search-no-results
          %p
            Nie ma do sprawdzenia żadnych zabytków
            %br
            pasujących do słowa
            %strong „#{tsearch.query}”
          - if tsearch.suggestions.present?
            %p
              Czy chodziło ci może o:
              - tsearch.suggestions.each do |s|
                = link_to relics_path(search_params(:q => s.name)), :remote => true do
                  %strong= "#{s.name},"
          %p
            Nie zanalazłeś tego czego szukasz?
            %br
            = link_to new_relicbuilder_path do
              %strong DODAJ ZABYTEK

      - elsif relics.present?
        %div.relic-header.search
          %h2 Wyniki wyszukiwania (#{relics.total})
        = render :partial => "relics", :locals => {:collection => relics }

      = paginate relics, :remote => true

      - unless relics.incorrect_count.zero?
        %p#adding-note
          Chesz dodać zabytek, którego nie możesz znaleźć?
          %br
          Będzie to możliwe za miesiąc, w pełnej wersji serwisu.

