#fancybox
.edit_relic.new_relic
  = render :partial => "relics/build/stages", :locals => { :stage => 1 }
  .creator
    %section.main
      %section.creator-step
        %aside
          %h3
            Jaka jest różnica między
            %br
            %span zabytkiem
            a
            = succeed '?' do
              %span zespołem zabytków
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque suscipit malesuada ipsum, non vehicula nunc mollis ut. Duis nisl lorem, volutpat in tincidunt vel, volutpat in tellus.
          %p= link_to 'Chcę jednak dodać zespół zabytków', '#', :clas => 'footlink'
        %p.intro
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras convallis luctus malesuada. Pellentesque purus augue, facilisis id hendrerit et, tincidunt a mauris.
        %p.intro
          Vivamus vestibulum semper odio, nec volutpat sapien egestas ut. Nam iaculis dapibus eros convallis mollis. Nullam non ligula ut leo porta venenatis sed in nibh.
      %section.creator-step
        .field.checkbox.aside
          %input{:type => 'checkbox'}
          %label chcę dodać zabytek spoza Polski
        .field.text.search.marker
          %label.main Miejscowość
          %input{:type => 'text', :class => 'autocomplete-polish-place'}
          %input{:type => 'submit', :value => "Szukaj &raquo;".html_safe, :class => 'btn'}
      %section.creator-step
        %h3 O którą miejscowość Ci chodziło?
        .places-wrapper
          %ul.places
      %section.creator-step
        %h3 Zaznacz obiekt na mapie
        .map-wrapper
          #map_canvas{ :style => "width: 515px; height: 380px;" }
            = image_tag "ph-map.png"
          .marker-helper
            %h4
              Przeciągnij
              %br
              znacznik na mapę:
            .marker-holder
              = image_tag 'marker.png', :id => 'marker'

      = link_to create_relic_path(:address), :class => 'next-step' do
        %strong Przejdź dalej &raquo;
        %small Krok 2

- content_for :footer_javascripts do
  != javascript_include_tag "profile"