- content_for :title, relic.identification
- content_for :facebook_meta do
  %meta{:property => 'og:title', :content => relic.identification}
  %meta{:property => 'og:description', :content => strip_tags(relic.description)}
  %meta{:property => 'og:image', :content => relic.has_photos? ? (URI.parse(root_url) + image_path(relic.main_photo.file.icon.url)).to_s : t('layouts.application.og.image', :editable => false)}

%header.Sidebar
  %h1.Logo
    %span.Logo-Header Karta z przewodnika
    %b.Hidden Otwarte Zabytki
    = image_tag 'logo.png', :alt => 'Logo', :class => 'Logo-Image'

%article
  %header.Title
    %h1.Title-Header= relic.identification

    - if relic.common_name.present?
      %dl.Title-Content.Definition--inline
        %dt.Definition-Header Nazwa zwyczajowa
        %dd.Definition-Content= relic.common_name

    - if relic.register_number.present?
      .Definition.SectionRegistry
        .Icon= image_tag 'edit-relic-ico-info.png', :alt => ''
        %p.Definition-Content Zabytek wpisany jest do rejestru zabytków

  %article
    %h1.Hidden Informacje ogólne

    - if relic.latitude.present? and relic.longitude.present?
      .Sidebar
        %img.SectionMap{:src => "http://maps.google.com/maps/api/staticmap?center=#{relic.latitude.to_f},#{relic.longitude.to_f}&zoom=13&markers=color:white|#{relic.latitude.to_f},#{relic.longitude.to_f}&size=250x150&sensor=false", :alt => 'Mapa'}

    - if (relic.is_group? or relic.parent.present?) and relic.root.descendants.created.count > 0
      .Sidebar.Definition.SectionGroup
        %h2.Definition-Header Pozostałe elementy należące do&nbsp;tego zespołu zabytków
        %ul.Defintion-Content
          - relic.root.descendants.created.order('identification').each do |rel|
            - unless rel == relic
              %li= rel.identification

    - if relic.has_photos?
      = image_tag relic.main_photo.file.maxi.url, :class => 'SectionPhoto', :alt => 'Zdjęcie zabytku'

    .Definition.SectionLocation
      .Icon= image_tag 'edit-relic-ico-location.png', :alt => ''
      %h2.Definition-Header Lokalizacja
      .Definition-Content
        - if relic.polish_relic and relic.place_id?
          %p= t('views.relics.show.general.polish_location', :place => relic.place.name, :district => relic.district.name, :commune => relic.commune.name)
        - elsif !relic.polish_relic
          %p= [I18n.t(relic.country_code, :scope => :countries), relic.fprovince, relic.fplace].select(&:present?).join(', ')
        - if relic.street.present?
          %p= relic.street

    - if relic.dating_of_obj.present?
      .Definition--inline.SectionDate
        .Icon= image_tag 'edit-relic-ico-date.png', :alt => ''
        %h2.Definition-Header Data powstania
        .Definition-Content= relic.dating_of_obj

    - if relic.register_number.present?
      .Definition--inline.SectionRegistryNumber
        .Icon= image_tag 'edit-relic-ico-list.png', :alt => ''
        %h2.Definition-Header Numer w rejestrze
        .Definition-Content= relic.register_number

    - if relic.categories.count > 0
      .Definition--inline.SectionsCategories
        .Icon= image_tag 'edit-relic-ico-folder.png', :alt => ''
        %h2.Definition-Header Kategorie
        %ul.Definition-Content
          - relic.categories.each do |category|
            %li= Category.to_hash[category]

    - if relic.tags.count > 0
      .Definition--inline.SectionTags
        .Icon= image_tag 'edit-relic-ico-tags.png', :alt => ''
        %h2.Definition-Header Tagi
        %ul.Definition-Content
          - relic.tags.each do |tag|
            %li= tag

    - if relic.all_events.count > 0
      .Definition.SectionDates
        %h2.Definition-Header Ważne daty
        %ul.Definition-Content
          - relic.all_events.each do |event|
            %li
              .Icon= image_tag 'edit-relic-ico-date.png', :alt => ''
              #{event.date} — #{event.name}

  - if relic.description.present?
    %article.Description
      %h1.Description-Header Opis
      .MainContent.Description-Content= relic.description.html_safe

  - if relic.entries.count > 0
    %section.Description
      %h1.Description-Header Ciekawostki, legendy, anegdoty
      - relic.entries.each do |entry|
        %article
          %h1.Description-Content-Header= entry.title
          .Description-Content= sanitize entry.body

%footer.Footer
  .Sidebar
    %h1 www.otwartezabytki.pl
    Data wygenerowania: #{Time.now.strftime('%Y-%m-%d')}
  = image_tag 'cc_logo.png', :alt => 'Centrum Cyfrowe'
