- if relic.id == 0
  .original-version
    %a{:href => "#", :class => "btn"} &#171; zobacz wersję obecną
    .content
      %h3 Przeglądasz wersję oryginalną
      %p Oznacza to, że istnieje również wersja z naniesionymi przez Ciebie poprawkami.
#fancybox
.row.first-row
  = render :partial => "relics/show/general"
  = render :partial => "relics/show/photos"
.row.second-row
  .column-left
    = render :partial => "relics/show/description"
    = render :partial => "relics/show/entries"
    = render :partial => "relics/show/links"
  .column-right
    = render :partial => "relics/show/subrelics"
    = render :partial => "relics/show/categories"
    = render :partial => "relics/show/alerts"
    = render :partial => "relics/show/events"
    = render :partial => "relics/show/documents"