- content_for(:title, relic.identification)

- content_for :facebook_meta do
  %meta{:property => "og:title", :content => relic.identification}
  %meta{:property => "og:description", :content => strip_tags(relic.description)}
  %meta{:property => "og:image", :content => relic.main_photo.present? ? (URI.parse(root_url) + relic.main_photo.file.icon.url).to_s : t('layouts.application.og.image')}

- if relic.id.zero?
  .original-version
    %a{:href => relic_path(params[:id]), :class => "btn"} &#171; zobacz wersję obecną
    .content
      %h3 Przeglądasz wersję oryginalną
      %p Oznacza to, że istnieje również wersja z naniesionymi przez Ciebie poprawkami.
#fancybox
- unless cookies[:flash_hidden]
  .row
    .flash.flash-info.flash-info-permament
      %span{:class => "close", :"data-dismiss" => 'flash-info-permament'} ukryj
      = image_tag 'notice-icon-info.png', :class => 'flash-icon'
      = image_tag 'notice-separator.png', :class => 'flash-separator'
      .flash-content
        %h3 O co chodzi?
        %p Wyszukaj informacje i uzupełnij wybrane pola.
        %p Skorzystaj z własnej wiedzy, poszukaj w książkach lub w internecie.
        %p Sprawdź, czy informacje już uzupełnione są poprawne.
        %p Pamiętaj o podaniu źródeł.
.row.first-row
  = render :partial => "relics/show/general"
  = render :partial => "relics/show/photos"
.row.second-row
  .column-left
    = render :partial => "relics/show/description"
    = render :partial => "relics/show/entries"
    = render :partial => "relics/show/links"
  .column-right
    = render :partial => "relics/show/subrelics"
    = render :partial => "relics/show/categories"
    = render :partial => "relics/show/alerts"
    = render :partial => "relics/show/events"
    = render :partial => "relics/show/documents"