.row
  = render :partial => "relics/show/photos"
  = render :partial => "relics/show/general"

.row
  .column
    = render :partial => "relics/show/description"
    = render :partial => "relics/show/entries"
    = render :partial => "relics/show/links"
  .column
    = render :partial => "relics/show/categories"
    = render :partial => "relics/show/events"
    = render :partial => "relics/show/documents"