%div.page1
%h1 Dziękujemy!
%h2= thank_you_note

= link_to "Przejdź do następnego zabytku", next_relic_url_for(current_user)

- if @request_email
  %p Zarejestruj się jeśli chcesz:
  = semantic_form_for current_user, :url => user_registration_path do |f|
    = f.input :email, :placeholder => "Adres e-mail", :label => false
    = f.input :username, :placeholder => "Nazwa użytkownika", :label => false
    = f.submit "Zarejestruj"
    = link_to "Później", next_relic_url_for(current_user)