.opening
  .thankyou_love
    %h2 Dzięki!
    #heart ♥
    %h3= thank_you_note
  .thankyou_notes
    %p.info
      Zabytek pozostaje na liście „do sprawdzenia” dopóki nie sprawdzą go trzy osoby.
    %a#share
      Pokaż znajomym, że bierzesz udział w akcji!

#thankyou_actions{:class => (@request_email ? 'withregister' : '')}
  - if @request_email
    #thankyou_register
      %h4 Możesz uzupełnić bazę anonimowo albo założyć własne konto i śledzieć własne postępy
      %p Nazwy najbardziej zaangażowanych użytkowników udostępnimy też na stronie głównej w rankingu.
      = semantic_form_for current_user, :url => user_registration_path do |f|
        = f.hidden_field :registration, :value => true
        = f.input :email, :label => true
        = f.input :username, :label => true
        = f.submit "Zarejestruj się"
      
  #thankyou_dorelics
    = link_to edit_relic_url(@next_relic), :id => "thankyou_next" do
      %div
        %span
          Przejdź do następnego zabytku:
        %strong
          = @next_relic.identification

    - q1 = session[:search_params] && session[:search_params][:q1]
    - if q1.present?
      #thankyou_results
        %span
          lub

        = link_to relics_path(:q1 => q1) do
          Wróć do wyników „<strong>#{q1}</strong>” &raquo;