%div.page
  .opening
    %h2 Dzięki!
    #heart ♥
    %h3= thank_you_note
  .thankyou_notes
    %p.info
      Zabytek pozostaje na liście „do sprawdzenia” dopóki nie sprawdzą go trzy osoby.
    %a#share
      Pokaż znajomym, że bierzesz udział w akcji!

- if @request_email
  %h4 Możesz uzupełnić bazę anonimowo albo założyć własne konto i śledzieć własne postępy
  %p Nazwy najbardziej zaangażowanych użytkowników udostępnimy też na stronie głównej w rankingu.
  = semantic_form_for current_user, :url => user_registration_path do |f|
    = f.input :email, :placeholder => "Adres e-mail", :label => false
    = f.input :username, :placeholder => "Nazwa użytkownika", :label => false
    = f.submit "Zarejestruj"
    = link_to "Później", edit_relic_url(@next_relic)
    
    
%br
= link_to edit_relic_url(@next_relic) do
  Przejdź do następnego zabytku:
  = @next_relic.identification 
  
%br

lub

%br

- q1 = session[:search_params] && session[:search_params][:q1]
= link_to relics_path(:q1 => q1) do
  Wróć do wyników „#{q1}” &raquo;
