- content_for :before_javascripts do
  = javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=#{Settings.oz.gm_key}&sensor=false&libraries=places"

%script#relic-template{ type: 'text/x-handlebars-template' }
  %li.Definition-Container{ id: 'relic-{{id}}' }
    %dl.Definition--inline
      %dt.Definition-Header {{identification}}
      %dd.Definition-Content {{street}}

%header.Sidebar
  %h1.Logo
    %span.Logo-Header= t('views.relics.guide.title')
    %b.Hidden Otwarte Zabytki
    = image_tag 'logo.png', :alt => t('views.relics.guide.logo', editable: false), :class => 'Logo-Image'

%header.Title
  %h1.Title-Header= t("views.widgets.route_types.#{widget_params.try(:[], 'route_type')}")
  %dl.Title-Content.Definition
    %dt.Definition-Header= t('users.list_routes.relics_within_radius', radius: widget_params.try(:[], 'radius'))
    - waypoints = widget_params.try(:[], 'waypoints').map { |w| w.split(',').first.strip }
    %dd.Definition-Content
      #{waypoints.first} – #{waypoints.last}
      - if waypoints.length > 2
        %span (#{t('users.list_routes.route_points', count: waypoints.length)})

.Map
  #map_canvas{ :style => 'width: 100%; height: 100%;' }

%section
  %h1.Title-Header--padded-bottom= t('users.list_routes.relics_on_route')
  %ol.MainContent#relics-container

:javascript
  var renderOnly = printAction = true;
%script{ type: 'application/json', id: 'search_params' }
  != widget_params.to_json
= content_for :javascripts do
  = javascript_include_tag "jsts", debug: false
  = javascript_include_tag "widgets/direction"
