%p.feed-description= t '.description'

%section.feed.type-activity
  %h1.feed-title.hidden= t '.activity'
  - Version.relics.adopted_by(user).each do |version|
    %dl.feed-item{ class: "type-#{version.event}" }
      %dd.feed-image.thumb
        = image_tag version.relic.main_photo.file.url(:icon), :width => 56, :height => 56
      %dd.feed-date
        = timeago_tag version.created_at
      %dt.feed-message
        - params = { relic: link_to(version.relic.identification, relic_path(version.relic)), user: link_to(version.user.username, user_path(version.user.id)) }
        != t("views.pages.home.relic_has_been_updated_by", params)
        .changes= RecentRevision.new(:version => version).changes
  .feed-item.type-last
    .feed-message
      = t '.no_notifications'
