%p.feed-description= t('.description') + ":"

%section.feed.type-walking_guides
  - unless walking_guides.any?
    .feed-placeholder
      = t('.no_walking_guides')
      = link_to t('.no_walking_guides_make_one'), new_widgets_walking_guide_path
  - else
    - walking_guides.each do |walking_guide|
      %dl.feed-item
        - relics = walking_guide.relics.first(5)
        %dd.feed-image.thumb
          = image_tag 'widgets/walking_guide.png', width: 56, height: 56, alt: t('widget.walking_guide.title')
        %dd.feed-message.feed-links
          = link_to t('.edit'), edit_widgets_walking_guide_path(walking_guide)
          = link_to t('.delete'), widgets_walking_guide_path(walking_guide), 'data-method' => :delete, class: 'delete', confirm: t('.delete_confirmation', editable: false)
          = link_to t('.print'), print_widgets_walking_guide_path(walking_guide)
        %dd.feed-message
          %b #{walking_guide.title || t('.relics')}:
          = relics.map {|a| a[:identification] }.join(', ')
          - if relics.count > 5
            [...]
        %dt.feed-message
          = walking_guide.description.truncate(50)

