.nav-tabs-container
  .nav-tabs-outer
    %ul.nav-tabs
      %li.nav-tab
        = link_to "Obserwowane", user, class: "nav-tab-link type-followed #{'active' if current_page?(user)}"
      %li.nav-tab
        = link_to "Sprawdzone przeze mnie", [user, :checked_relics], class: "nav-tab-link type-checked #{'active' if current_page?([user, :checked_relics])}"
      %li.nav-tab
        = link_to "Ustawienia", [user, :settings], class: "nav-tab-link type-checked #{'active' if current_page?([user, :settings])}"
