<% uid = "alertWidgetRelic#{id}" %>
<script type="text/javascript">
  (function(){
    function <%= uid%> () {
      var s = document.createElement('script');
      s.type = 'text/javascript'; s.async = true;
      s.src = '//<%= Settings.oz.host %>/widgets/add_alert.js?relic_id=<%= id %>';
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
    }
    if (window.attachEvent) {
      window.attachEvent('onload', <%= uid %>);
    } else {
      window.addEventListener('load', <%= uid %>, false);
    }
  })();
</script>
<div id='oz_add_alert_widget'></div>
