- if flash[:error] || flash[:notice]
  .row
    - if flash[:error]
      .flash.flash-error
        = link_to t('views.relics.show.flash_hide'), '#', :class => "close", :"data-dismiss" => 'flash'
        = image_tag 'notice-icon-info.png', :class => 'flash-icon'
        = image_tag 'notice-separator.png', :class => 'flash-separator'
        .flash-content
          %p= flash[:error]

    - elsif flash[:notice]
      .flash{:class => "flash-info flash-#{Digest::MD5.hexdigest(flash[:notice])[0..6]}"}
        = link_to t('views.relics.show.flash_hide'), '#', :class => "close", :"data-dismiss" => 'flash'
        .icon
          = image_tag 'notice-icon-info.png', :class => "flash-icon"
        = image_tag 'notice-separator.png', :class => 'flash-separator'
        .flash-content
          %p= flash[:notice]