- node.sort_by{ | _, subfacets| -subfacets.size }.each do |facet, subfacets|
  = content_tag :li do
    = link_to widget_path(widget.id, :search => params[:search].merge(:"location" => "#{facet.class.name.underscore}:#{facet.id}")), :remote => true do
      %span.facet_name= facet.name
      %span.relic_count (#{facet.facet_count})
    - if subfacets && subfacets.length > 0
      = content_tag :ul do
        = render 'shared/locations_tree', :node => subfacets
