.clearfix
= semantic_form_for Search.new(params[:search] || {}), :object_name => 's', :url => relics_path, :html => { :class => 'well form-advance-search' }, :method => :get do |f|
  = f.input :q, :label => false, :placeholder => "co"
  = f.input :place, :label => false, :placeholder => "gdzie"
  -# = f.input :from,  :label => false, :placeholder => "od"
  -# = f.input :to,    :label => false, :placeholder => "do"
  = f.input :categories, :as => :check_boxes, :collection => Tag.all, :label => 'Kategorie'
  = f.input :has_photos, :as => :select, :collection => has_photos_facets, :include_blank => false, :label => 'Zdjęcie'
  = f.input :has_description, :as => :select, :collection => has_description_facets, :include_blank => false, :label => 'Opis'

  = f.input :states, :as => :check_boxes, :collection => ['sprawdzone', 'niesprawdzone', 'uzupełnione'].zip(Relic::States)
  = f.input :existence, :as => :check_boxes, :collection => ['istniejące', 'archiwalne', 'spolecznociowe'].zip(Relic::Existences)

  = f.action :submit, :label => 'Szukaj', :button_html => { :name => nil }