- node.each do |rel, subrelics|
  = content_tag :li, :class => ((subrelics.length > 0 ? "node " : "leaf ") + (rel == relic ? "current  " : "") ).strip do
    %span.line
    = link_to rel.identification, relic_path(rel.id), :remote => true
    - if subrelics.length > 0
      = content_tag :ul do
        = render 'shared/tree', :node => subrelics
        %li.add= link_to 'dodaj', new_relicbuilder_path(:parent_id => rel.id),:class => "add_relic"