.row.attachment_list
  - for photo in relic.photos
    = form_tag section_relic_path(relic, :section => :events), :remote => true, :method => :put do
      = hidden_field_tag 'photo_id', photo.id
      = submit_tag 'choose', :type => "image", :src => photo.file.url(:midi)
.row
  = link_to edit_relic_path(relic, :section => 'photos'), :class => 'btn', :remote => true do
    %strong dodaj nowe zdjęcie do zabytku
  lub
  = link_to 'anuluj', edit_relic_path(relic, :section => :events), :remote => true