%section.edit.general
  %h2 Tagi i kategorie
  = semantic_form_for relic do |f|
    .help-content.active
      .help Pomoc
      .help-extended
        %span.close Zamknij pomoc
        %p
          Sprawdź, czy nazwa zabytku jest poprawna (np. jeśli zaczyna się od małej litery, popraw ją na wielką).
          Jeśli chcesz ją poprawić, kliknij „Zmień”. Pojawi się pole, w którym można poprawić nazwę.
          Następnie naciśnij „Zapisz”, aby zachować poprawioną nazwę. Jeśli jest poprawna, kliknij „Potwierdź”.

    = f.input :tags, :input_html => { :value => relic.tags.join(','), :style => "width: 510px", :multiple => true }
    .select
      %label Kategorie
      .input
        .column.column-first
          = f.input :categories, :as => :check_boxes,
            :collection => Category.first_column.invert, :label => "",
            :input_html => { :multiple => true }
        .column.column-second
          = f.input :categories, :as => :check_boxes,
            :collection => Category.second_column.invert, :label => "",
            :input_html => { :multiple => true }
        .column.column-third
          = f.input :categories, :as => :check_boxes,
            :collection => Category.third_column.invert, :label => "",
            :input_html => { :multiple => true }

    = f.submit 'zapisz zmiany'
    lub
    = link_to "anuluj", relic_path(relic.id)