.row
  %script{ type: 'application/json', id: 'auto_categories' }
    != relic.auto_categories.to_json
  %script{ type: 'text/html', id: 'auto_categories_markup' }
    <span class="auto_categories" title="#{t('views.relics.show.categories.assigned_automatically', editable: false)}">*</span>
  = semantic_form_for relic, :url => section_relic_path(relic.id, :section => :categories), :remote => true do |f|
    = f.input :tags, :input_html => { :value => relic.tags.join(','), :style => "width: 680px", :multiple => true },
              :hint => t('formtastic.hints.relic.tags')
    .select
      %label= t('views.relics.edit.categories.name')
      .input
        %span.block= t('formtastic.hints.relic.categories')
        .column.column-first
          = f.input :categories, :as => :check_boxes,
            :collection => Category.first_column.invert, :label => "",
            :input_html => { :multiple => true },
            :hint => false
        .column.column-second
          = f.input :categories, :as => :check_boxes,
            :collection => Category.second_column.invert, :label => "",
            :input_html => { :multiple => true },
            :hint => false
        .column.column-third
          = f.input :categories, :as => :check_boxes,
            :collection => Category.third_column.invert, :label => "",
            :input_html => { :multiple => true },
            :hint => false

    .actions
      %button= t('views.relics.edit.save')
      = t('views.relics.edit.or')
      = link_to t('views.relics.edit.cancel'), relic_path(relic.id), :remote => true, :class => "cancel", "data-dismiss" => "modal"
