.row
  = semantic_form_for relic, :url => section_relic_path(relic.id, :section => :description), :remote => true do |f|
    = f.input :description, :label => false, :input_html => { :class => "description redactor", :style => 'height: 190px;' },
     alt: t('oz_input_alts.edit_relic.relic_desc')
    = f.input :wlk_guide_description, :label => t('oz_input_alts.edit_relic.walking_guide_desc'), :input_html => { :class => "description redactor", :style => 'height: 190px;' },
     alt: t('oz_input_alts.edit_relic.walking_guide_desc')
    .reminder
      =t('views.relics.edit.reminder')
    .actions
      %button= t('views.relics.edit.save')
      = t('views.relics.edit.or')
      = link_to t('views.relics.edit.cancel'), relic_path(relic.id), :class => "cancel js-close-edit-relic"