.row
  = semantic_form_for relic, :url => section_relic_path(relic.id, :section => :documents), :html => { :multipart => true }, :remote => true  do |f|
    - relic.documents.each do |document|
      - if document.user_id == current_user.id
        = f.semantic_fields_for :documents, document do |f2|
          .document
            .column-left
              .preview{ :class => document.mime_class }
              - if document.user_id == current_user.id
                = link_to t('views.relics.edit.documents.delete_file'), relic_document_path(relic.id, document.id), :class => "remove_document", :method => :delete, :remote => true, :confirm => t('views.relics.edit.documents.delete_confirm')
            .column-right
              = f2.input :name, :input_html => { :class => "name" }
              = f2.input :description, :input_html => { :class => "description" }
      - else
        .document
          .column-left
            .preview
              = image_tag document.midi.url
          .column-right
            %label= t('activerecord.attributes.document.name')
            %p= document.name
            %label= t('activerecord.attributes.document.description')
            %p= document.description

    .document.hidden
      .column-left
        .preview.preview-placeholder

      .column-right
        %p
          %strong= t('views.relics.documents.loading')
          = link_to t('views.relics.documents.cancel'), '#', :class => "cancel_upload"
        %p
          .progressbar
            .value 0%
    .file-upload
      = file_field_tag "document[file]", :class => 'document_upload', :"data-url" => "#{relic_documents_path(relic.id)}"

    = f.input :documents_info
    .actions
      %button= t('views.relics.edit.save')
      = t('views.relics.edit.or')
      = link_to t('views.relics.edit.cancel'), relic_path(relic.id), :remote => true, :class => "cancel"