.row
  = semantic_form_for relic, :url => section_relic_path(relic.id, :section => :documents), :html => { :multipart => true }, :remote => true  do |f|
    - relic.documents.each do |document|
      - if document.user_id == current_user.id
        = f.semantic_fields_for :documents, document do |f2|
          .document[f2.object]
            .column-left
              .preview{ :class => document.mime_class }
              - if document.user_id == current_user.id
                = link_to t('views.relics.edit.documents.delete_file'), relic_document_path(relic.id, document.id),
                  :method => :delete,
                  :remote => true,
                  :confirm => t('views.relics.edit.documents.delete_confirm', :editable => false),
                  :class => "remove_document"
            .column-right
              = f2.input :name, :input_html => { :class => "name" }
              = f2.input :description, :input_html => { :class => "description" }
      - elsif document.saved?
        .document
          .column-left
            = link_to document.file.url do
              .preview{ :class => document.mime_class }
          .column-right
            %label= t('activerecord.attributes.document.name')
            %p= document.name
            %label= t('activerecord.attributes.document.description')
            %p= document.description

    .document.hidden
      .column-left
        .preview.preview-placeholder

      .column-right
        %p
          %strong= t('views.relics.edit.documents.loading')
          = link_to t('views.relics.edit.documents.cancel'), '#', :class => "cancel_upload"
        %p
          .progressbar
            .value 0%
    .document-upload
      .file-input-wrapper
        %button.btn-file-input
          - if relic.documents.length.zero?
            = t('views.relics.edit.documents.upload_first')
          - else
            = t('views.relics.edit.documents.upload')
        = file_field_tag "document[file]", :class => 'document_upload', :"data-url" => "#{relic_documents_path(relic.id)}"

    = f.input :documents_info
    .actions
      %button= t('views.relics.edit.save')
      = t('views.relics.edit.or')
      = link_to t('views.relics.edit.cancel'), relic_path(relic.id), :class => "cancel js-close-edit-relic"
