%section.edit.events
  %h2 Wydarzenia

  = semantic_form_for relic, :url => section_relic_path(relic.id, :section => :events), :remote => true do |f|
    %p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed felis magna, eu dapibus turpis. Vivamus fringilla dui vitae lacus consequat adipiscing. Nullam ultrices leo at sem vestibulum commodo.
    - if relic.events.count > 0
      %p
        %span l.p.
        %span Data / Okres
        %span Opis
        %span Akcje
      %ol
        %li
          = f.input :dating_of_obj, :label => false, :hint => false
          .name Data powstania
      %ol.sortable{ :"data-update-url" => sort_relic_events_path(relic.id) }
        - relic.events.each do |event|
          = f.semantic_fields_for :events, event do |f2|
            = content_tag_for :li, event do
              = f2.input :date, :label => false, :hint => false
              = f2.input :name, :label => false, :hint => false
              = link_to 'usuń', relic_event_path(relic.id, event.id),
                :method => :delete,
                :remote => true,
                :confirm => "Czy aby na pewno?",
                :class => "remove_event"
      = link_to 'Dodaj kolejne wydarzenie...', relic_events_path(relic.id), :method => :post, :remote => true
    - else
      = link_to 'Dodaj nowe wydarzenie...', relic_events_path(relic.id), :method => :post, :remote => true

    .actions
      = f.submit 'zapisz zmiany'
      lub
      = link_to "anuluj", relic_path(relic.id)