.row
  = semantic_form_for relic, :url => section_relic_path(relic.id, :section => :events), :remote => true do |f|
    %p.header
      %span.number= t('views.relics.edit.events.number')
      %span.date= t('views.relics.edit.events.date')
      %span.info= t('views.relics.edit.events.info')
      %span.action= t('views.relics.edit.events.action')
    %ol.first
      %li
        = f.input :dating_of_obj, :label => false, :hint => false
        .name= t('views.relics.edit.events.create_date')
    %ol.sortable{ :start => "2" }
      - relic.all_events.includes(:relic, :photo).each do |event|
        = f.semantic_fields_for :events, event do |f2|
          = content_tag_for :li, event, :style => (event.marked_for_destruction? ? "display: none" : "") do
            = f2.input :date, :label => false, :hint => false, :class => "date"
            = f2.input :name, :label => false, :hint => false, :class => "info"
            - if relic.is_group?
              .apply-to
                = descendants_select(relic, f2)
            = f2.hidden_field :position, :class => "event-position"
            = f2.hidden_field :photo_id
            = f2.hidden_field :_destroy
            - if event.photo.blank?
              = link_to t('views.relics.edit.add_photo'), '#', :class => "add_photo" if event.relic == relic
            - else
              = image_tag event.photo.file.url(:icon), :class => "event_photo", alt: event.photo.alternate_text
              = link_to t('views.relics.edit.edit_photo'), '#', :class => "edit_photo" if event.relic == relic
              = link_to t('views.relics.edit.delete'), '#', :class => "remove_photo" if event.relic == relic

            = link_to t('views.relics.edit.delete'), '#', :class => "remove_event"

      %script{ :type => "text/html", :id => "event_template", :"data-next-id" => relic.events.length }
        = f.semantic_fields_for :events, relic.events.build do |f2|
          %li.event
            = f2.input :date, :label => false, :hint => false, :class => "date"
            = f2.input :name, :label => false, :hint => false, :class => "info"
            - if relic.is_group?
              .apply-to
                = descendants_select(relic, f2)
            = f2.hidden_field :position, :class => "event-position"
            = f2.hidden_field :photo_id
            = f2.hidden_field :_destroy
            = link_to t('views.relics.edit.add_photo'), '#', :class => "add_photo"
            = link_to t('views.relics.edit.delete'), '#', :class => "remove_event"

    .add-event
      = link_to t('views.relics.edit.events.add_new_one'), '#', :class => "add_event", :"data-template" => "#event_template"
    .actions
      %button.save_item= t('views.relics.edit.save')
      = t('views.relics.edit.or')
      = link_to t('views.relics.edit.cancel'), relic_path(relic.id), :class => "cancel js-close-edit-relic"
