.row
  = semantic_form_for relic, :url => section_relic_path(relic.id, :section => :links), :remote => true do |f|
    #links_container{ :style => (relic.links.length == 0 ? "display: none" : "") }
      %p.header
        %span.number l.p.
        %span.url Adres URL
        %span.info Opis
        %span.action Akcje
      %ol.sortable
        - relic.links.sort_by{ |e| e.position || 1000 }.each do |link|
          = f.semantic_fields_for :links, link do |f2|
            = content_tag_for :li, link do
              = f2.input :url, :label => false, :hint => false, :class => "url"
              = f2.input :name, :label => false, :hint => false, :class => "info"
              = f2.hidden_field :position, :class => "link-position"
              = f2.hidden_field :_destroy
              = link_to 'usuń', '#', :class => "remove_link"
        %script{ :type => "text/html", :id => "link_template", :"data-next-id" => relic.links.length, :"data-container" => "#links_container" }
          = f.semantic_fields_for :links, relic.links.build do |f2|
            %li.link
              = f2.input :url, :label => false, :hint => false, :class => "url"
              = f2.input :name, :label => false, :hint => false, :class => "info"
              = f2.hidden_field :position, :class => "link-positione"
              = f2.hidden_field :_destroy
              = link_to 'usuń', '#', :class => "remove_link"
    .add-link
      = link_to 'Dodaj nowy link...', "#", :class => "add_link", :"data-template" => "#link_template"

    = f.input :links_info
    .actions
      = f.submit 'zapisz zmiany'
      lub
      = link_to "anuluj", relic_path(relic.id), :remote => true