.row
  = semantic_form_for relic, :url => section_relic_path(relic.id, :section => :location), :remote => true, :html => { :class => (relic.geocoded? ? 'geocoded' : "") } do |f|
    .column.column-left
      = f.input :polish_relic, :as => :boolean
      .polish-location{ :style => (relic.polish_relic ? "" : "display: none;") }
        = f.input :place_id, :as => :select,
          :collection => f.object.commune.places.not_custom, :selected => f.object.place.id, :label => "Miejscowość",
          :include_blank => false, :input_html => { :style => "width: 234px;" }, :hint => t('formtastic.hints.relic.place')
      .foreign-location{ :style => (relic.polish_relic ? "display: none;" : "") }
        %script(type="application/json" id="countries_location")
          != Country.coordinates.to_json
        = f.input :country_code, :as => :select, :include_blank => false, :default => "PL",
          :collection => Country.coordinates.keys.map{|code| [I18n.t(code, :scope => :countries), code]}.sort_alphabetical_by(&:first),
          :input_html => { :style => "width: 234px;" }
        = f.input :fprovince
        = f.input :fplace
      .street_input{ :style => (relic.street.blank? ? "display: none" : "") }
        = f.input :street
      = link_to (relic.street.blank? ? "Znam dokładny adres" : "Nie da się ustalić adresu"), '#', :class => "toggle_street_input"
      .actions
        = f.submit 'Zapisz zmiany'
        lub
        = link_to "anuluj", relic_path(relic.id), :remote => true, :class => "cancel"

    .column.column-middle
      #map_canvas{ :style => "width: 309px; height: 309px;" }
      %p.auto_geolocated lokacja przybliżona
    .column.column-right
      .marker-helper
        %h4
          Przeciągnij
          %br
          znacznik na mapę:
        .marker-holder
          = image_tag 'marker.png', :id => 'marker'
      = f.hidden_field :latitude
      = f.hidden_field :longitude
.row