%section.edit.location
  %h2 Lokalizacja
  = semantic_form_for relic do |f|
    .row
      .column.column-left
        = f.input :place_id, :as => :select,
          :collection => f.object.commune.places.not_custom, :selected => f.object.place.id, :label => "Miejscowość",
          :include_blank => false, :input_html => { :style => "width: 234px;" }

        = f.input :street, :as => :string, :label => "Adres"

        .actions 
          = f.submit 'Zapisz zmiany'
          lub
          = link_to "anuluj", relic_path(relic.id), :remote => true

      .column.column-middle
        #map_canvas{ :style => "width: 309px; height: 309px;" }

      .column.column-right
        .marker-helper
          %h4
            Przeciągnij
            %br
            znacznik na mapę:
          .marker-holder
            = image_tag 'marker.png', :id => 'marker'
        =# f.input :latitude, :as => :string, :label => "szerokość geograficzna", :placeholder => "szerokość", :input_html => { :maxlength => 10, :readonly => "readonly" }
        =# f.input :longitude, :as => :string, :label => "długość geograficzna", :placeholder => "długość", :input_html => { :maxlength => 10, :readonly => "readonly" }

- content_for :footer_javascripts do
  :javascript
    function loadGoogleMaps() {
      var script = document.createElement("script");
      script.type = "text/javascript";
      script.src = "http://maps.googleapis.com/maps/api/js?key=#{Settings.oz.gm_key}&sensor=false&callback=google_maps_loaded";
      document.body.appendChild(script);
    }
    window.onload = loadGoogleMaps
