.row
  = semantic_form_for relic, :url => section_relic_path(relic.id, :section => :location), :remote => true, :html => { :class => (relic.geocoded? ? 'geocoded' : "") } do |f|
    .column.column-left
      = f.input :polish_relic, :as => :boolean
      .polish-location{ :style => (relic.polish_relic ? "" : "display: none;") }
        = f.input :place_id, :as => :select,
          :collection => f.object.commune.places.not_custom, :selected => f.object.place.id, :label => "Miejscowość",
          :include_blank => false, :input_html => { :style => "width: 234px;" }
      .foreign-location{ :style => (relic.polish_relic ? "display: none;" : "") }
        = f.input :country_code, :as => :select, :include_blank => false, :default => "PL",
          :collection => I18nCountrySelect::Countries::COUNTRY_CODES.map{|code| [I18n.t(code, :scope => :countries), code]}.sort_alphabetical_by(&:first)
        = f.input :fprovince
        = f.input :fplace
      = f.input :street
      .actions
        = f.submit 'Zapisz zmiany'
        lub
        = link_to "anuluj", relic_path(relic.id), :remote => true

    .column.column-middle
      #map_canvas{ :style => "width: 309px; height: 309px;" }

    .column.column-right
      .marker-helper
        %h4
          Przeciągnij
          %br
          znacznik na mapę:
        .marker-holder
          = image_tag 'marker.png', :id => 'marker'
      = f.hidden_field :latitude
      = f.hidden_field :longitude
      = f.hidden_field :geocoded
.row