%section.edit.photos
  %h2 Zdjęcia
  = semantic_form_for relic, :url => section_relic_path(relic.id, :section => :photos), :html => { :multipart => true }, :remote => true  do |f|
    .help-content.active
      .help Pomoc
      .help-extended
        %span.close Zamknij pomoc
        %p
          Sprawdź, czy nazwa zabytku jest poprawna (np. jeśli zaczyna się od małej litery, popraw ją na wielką).
          Jeśli chcesz ją poprawić, kliknij „Zmień”. Pojawi się pole, w którym można poprawić nazwę.
          Następnie naciśnij „Zapisz”, aby zachować poprawioną nazwę. Jeśli jest poprawna, kliknij „Potwierdź”.

    - relic.photos.each do |photo|
      - if photo.user_id == current_user.id
        = f.semantic_fields_for :photos, photo do |f2|
          .photo
            .column-left
              .preview
                = image_tag photo.file.midi.url
              - if photo.user_id == current_user.id
                = link_to 'usuń zdjęcie', relic_photo_path(relic.id, photo.id), :method => :delete, :remote => true
            .column-right
              = f2.input :author, :input_html => { :class => "author" }
              = f2.input :date_taken, :input_html => { :class => "date_taken" }
      - else
        .photo
          .column-left
            .preview
              = image_tag photo.midi.url
          .column-right
            %label= t 'activerecord.attributes.photo.author'
            %p= photo.author
            %label= t 'activerecord.attributes.photo.date_taken'
            %p= photo.date_taken

    .photo.hidden
      .column-left
        .preview.preview-placeholder

      .column-right
        %p
          %strong Trwa wgrywanie, proszę czekać...
          = link_to 'anuluj', '#', :class => "cancel_upload"
        %p
          .progressbar
            .value 0%

    = file_field_tag "photo[file]", :class => 'photo_upload', :"data-url" => "#{relic_photos_path(relic.id)}"

    = f.input :license_agreement, :input_html => { :checked => 'checked' }, :as => :boolean, :label => "Oświadczam, że posiadam prawa do publikowania na stronie OtwarteZabytki.pl dodane powyżej zdjęcia."

    = f.submit 'Zapisz zmiany'
    lub
    = link_to "anuluj", relic_path(relic.id)