#fancybox
%section.widgets#widget_wrapper{ :"data-replace" => "#widget_wrapper" }
  %h1.about_top= t('views.widgets.index.about')
  .content
    .description
      = t('views.widgets.index.description', :email => mail_to(Settings.oz.email_sender))
    .widgets
      - [Widget::Direction, Widget::MapSearch, Widget::AddRelic, Widget::AddAlert].each do |widget_template|
        = link_to method(:"widgets_#{widget_template.partial_name.pluralize}_path").call(), :class => "widget", :method => :post do
          - if widget_template.thumb
            %span.image
              = image_tag widget_template.thumb, :width => "200", :height => "180"
          %span.widget_content
            %span.title{:class => widget_template.partial_name.pluralize}
              = t("widget.#{widget_template.partial_name}.title")
            %span.paragraph
              = t("widget.#{widget_template.partial_name}.description")
            %span.actions
              %span.use-widget= t('views.widgets.index.use')
