Widget
%br
= @widget.uid
%br
= @widget.config

%textarea
  <script type="text/javascript" src="#{widget_js_url(@widget.uid)}"></script>


%h4 Edit
= semantic_form_for @widget, :url => widget_path(@widget) do |f|
  = @widget.config
  = semantic_fields_for :config do |form|
    = render :partial => @template.partial_name, :locals => {:form => form}

  = f.submit


<script type="text/javascript" src="#{widget_js_url(@widget.uid)}"></script>
