.iframe-content
  .iframe-header
    %a.what-about{:href => "#{request.protocol}#{Settings.oz.host}/strony/o-projekcie", :target => '_blank'}
      O co chodzi?
    .widget-logo
  .form_box
    .left
      %h2= t('.header', :scope => 'views')
      .fb-login
        = link_to t('layouts.application.facebook_sign_in'), user_omniauth_authorize_path(:facebook), :class => "fb-btn"
      - if flash[:alert]
        .alert.alert-error= flash[:alert]
      = semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name), :remote => request.xhr?) do |f|

        = f.input :email, :required => false, :autofocus => true
        = f.input :password, :required => false
        - if devise_mapping.recoverable? && controller_name != 'passwords'
          .link_form
            = link_to t('.forgot_password', :scope => 'views'), new_password_path(resource_name, :host => Settings.oz.host, :only_path => false), :target => '_blank'
        .actions
          = f.submit t('.submit', :scope => 'views')
    .right
      = t('.iframe_sidebar', :scope => 'views')
      = link_to t('.register_here', :scope => 'views'), new_user_registration_path(:host => Settings.oz.host, :only_path => false), :target => '_blank'