.map#map-poland
  %ul.poland
    - voivodeships_for_map.each do |voivodeship|
      %li{class: "pl#{voivodeship.id}", redirect: relics_path(search: { location: "pl-#{voivodeship.id}"})}
        %a{href: "##{voivodeship.name.parameterize}", rel: "nofollow"}
          %h3= t('views.pages.home.stats_info.voivodeship_header', name: voivodeship.name)
          %table
            %tr.numbers
              %td= voivodeship.stats_for('checked')
              %td= voivodeship.stats_for('unchecked')
            %tr
              %td= t('activerecord.attributes.relic.states.checked')
              %td= t('activerecord.attributes.relic.states.unchecked')
