.top
  .container
    .relic-bg
    = semantic_form_for(tsearch, :url => relics_path, :method => :get, :id => 'form-search') do |f|
      %h2 Wyszukaj i uzupełnij...
      .field.subject
        = f.input :q, :label => "Co:", :placeholder => "co", :input_html => { :class => 'autocomplete-q'}, :hint => "np. cmentarz, stocznie poniemieckie, chopinowski"
      .field.place
        = f.input :place, :label => "Gdzie:", :placeholder => "gdzie", :input_html => { :class => 'autocomplete-place'}, :hint => "np. Małkinia, ul. Grodzka w Krakowie"
      .field
        = link_to "Jak działa wyszukiwarka?", "#", :id => "how_it_works", :class => "js-popover how_it_works",
          :"data-title-id" => "how_it_works_title", :"data-content-id" => "how_it_works_content"
        %script{ :id => "how_it_works_title", :type => "text/html" }
          %p.how-it-works-title Jak działa wyszukiwarka?
          %p.close= link_to "zamknij", "#", :class => "close_popover", :"data-popover-id" => "how_it_works"
        %script{ :id => "how_it_works_content", :type => "text/html" }
          .how-it-works-content
            %h4.what Co?
            %p lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem...\
            %h4.where Gdzie?
            %p lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem...
        = f.action :submit, :class => "submit btn", :label => 'Szukaj &raquo;'.html_safe, :button_html => { :name => nil }
    .relic-example
      %h3 ... a wkrótce będziemy mogli oglądać zabytki tak:
      - example_relic = Relic.random_filled
      .relic-container
        .image
          - if example_relic.has_photos?
            = image_tag example_relic.main_photo.file.url(:icon)
          - else
            = image_tag "bg-relic-image-ph-small-56.png"
        .relic-content
          = link_to example_relic.identification, example_relic
          .status.filled= example_relic.state_name
          .location_name
            %strong lokalizacja:
            = format_localization(example_relic)
          - if example_relic.dating_of_obj?
            .date
              %strong data powstania:
              = example_relic.dating_of_obj
    .welcome
      %h3 Zapraszamy do współtworzenia katalogu Otwartych Zabytków
      .left
        Wybierz dowolny zabytek z naszej bazy. 
        %br
        Wyszukaj informacje i uzupełnij jego profil. 
        %br
        Jeśli Twojego zabytku nie ma w bazie - dodaj go.
      .right
        %ul
          %li Czym jest zabytek?
          %li Czym jest otwarty zabytek?
          %li Jak możesz się włączyć?
          = link_to "Dowiedz się więcej &raquo;".html_safe, page_pl_path('o-projekcie'), :class => 'btn'
.widgets-intro
  %ul
    %li.first
      %a{:href => widgets_path}
        %span.title Widżety »
        %span.paragraph Na dobry początek udostępniamy kilka przykładowych aplikacji, dzięki którym łatwiej będzie wykorzystać dane o otwartych zabytkach na innych stronach internetowych.
    %li.alerts
      = link_to widgets_add_alerts_path, :method => :post do
        %span.title Alerty:
        %span.paragraph Zaalarmuj o złym stanie zabytku.
    %li.map-search
      = link_to widgets_map_searches_path, :method => :post do
        %span.title Mapa:
        %span.paragraph Wyszukaj zabytki na mapie.
    %li.add
      = link_to widgets_add_relics_path, :method => :post do
        %span.title Dodaj:
        %span.paragraph Dodaj zabytki, których brakuje w naszej bazie.

.stats
  %h2 Jak wygląda nasza baza zabytków?
  .left
    %h3 Gdzie mamy najwięcej zabytków
    = render 'polish_map'
  .right
    %h3 Ostatnio edytowane
    %ul.latest
      - Relic.recently_modified_revisions.each do |revision|
        %li
          .image
            - if revision.item.has_photos?
              = image_tag revision.item.main_photo.file.url(:icon)
            - else
              = image_tag "bg-relic-image-ph-small-56.png"
          .relic-content
            %p.title= revision.item.identification
            .change.added
              = kind_of_change(revision)
            = link_to "Przejdź do profilu zabytku", revision.item
  .progress-bar
    .bg
      .color{:style => "width: #{Relic.where(:state => 'checked').count * 100 / Relic.count.to_f}%"}
    .checked{:style => "left: #{(Relic.where(:state => 'checked').count * 900 / Relic.count.to_f) + 16}px"}
      %span= Relic.where(:state => 'checked').count
      zabytków sprawdzonych
      = link_to "?", "#", :id => "checked_relics", :class => "js-popover checked_relics",
        :"data-title-id" => "checked_relics_title", :"data-content-id" => "checked_relics_content"
      %script{ :id => "checked_relics_title", :type => "text/html" }
        %p Co to zabytki sprawdzone?
        %p.close= link_to "zamknij", "#", :class => "close_popover", :"data-popover-id" => "checked_relics"
      %script{ :id => "checked_relics_content", :type => "text/html" }
        Hello world!
    .filled{:style => "left: #{(Relic.where(:state => 'filled').count * 900 / Relic.count.to_f) + 16}px"}
      %span= Relic.where(:state => 'filled').count
      zabytków uzupełnionych
      = link_to "?", "#", :id => "filled_relics", :class => "js-popover filled_relics",
        :"data-title-id" => "filled_relics_title", :"data-content-id" => "filled_relics_content"
      %script{ :id => "filled_relics_title", :type => "text/html" }
        %p Co to zabytki uzupełnione?
        %p.close= link_to "zamknij", "#", :class => "close_popover", :"data-popover-id" => "filled_relics"
      %script{ :id => "filled_relics_content", :type => "text/html" }
        Hello world!
    .total
      %span= Relic.count
      wszystkich zabytków w bazie
      %br
      w tym
      %strong= Relic.where(:state => 'unchecked').count
      niesprawdzonych