.top
  .container
    .more
      %h2 Zadbajmy o polskie zabytki!
      %p 
        Uzupełnij z nami bazę zabytków i&nbsp;pomóż stworzyć serwis.
        %br
        Skorzystaj z własnej wiedzy. Poszukaj informacji w&nbsp;książach lub&nbsp;w&nbsp;internecie.
        %strong To naprawdę proste.
      #more-button
        = link_to page_pl_path('dowiedz-sie-wiecej') do
          Dowiedz się więcej &#187;
    #tabs
      %ul
        %li
          %a{:href => '#tabs-1', :style => "background-image: url('http://b.vimeocdn.com/ts/313/259/313259872_100.jpg')"} 1
        %li
          %a{:href => '#tabs-2', :style => "background-image: url('http://b.vimeocdn.com/ts/313/031/313031213_100.jpg')"} 2
        %li
          %a{:href => '#tabs-3', :style => "background-image: url('http://b.vimeocdn.com/ts/311/908/311908285_100.jpg')"} 3
      #tabs-1
        -#%iframe{ :src => "http://player.vimeo.com/video/45066441", :width => "400", :height => "225", :frameborder => "0"}
      #tabs-2
        -#%iframe{ :src => "http://player.vimeo.com/video/45035633", :width => "400", :height => "225", :frameborder => "0"}
      #tabs-3
        -#%iframe{ :src => "http://player.vimeo.com/video/44879498", :width => "400", :height => "225", :frameborder => "0"}
    #video
      <iframe src="http://player.vimeo.com/video/45066441?color=678d9e" color="678d9e" width="390" height="219" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

    .step1
      %h3
        Krok 1.
        %span Zacznij od wyszukania zabytku:
      %p 
        np.
        %em cmentarz, dworek w Podkarpackim, Pałac na Wodzie, Małkinia
      = simple_form_for Relic.new, :url => relics_path, :html => { :class => 'well form-search'},:method => :get do |f|
        = f.input :q1, :label => false, :input_html => {:name => 'q1', :value => params[:q1], :class => "search-query", :autofocus => true}, :placeholder => "wpisz, czego szukasz"
        = f.button :submit, 'Szukaj »', :name => nil
      %p.examples
        Skorzystaj z przykładów:
        - cache("home_search_suggestions", :expires_in => 5.minutes) do
          = random_search_suggestions
.progress-bar
  %h3.pb Jak wygląda nasza baza zabytków?
  .bar
    - cache("home_relics_statistics", :expires_in => 5.minutes) do
      - stats = relics_statistics

      - p3 = [15, stats[3] * 100 / stats[0]].max
      - p2 = [30, stats[2] * 100 / stats[0]].max
      - p1 = [45, stats[1] * 100 / stats[0]].max

      %div.lvl.p0{:style => "width: 100%"}
        .num= stats[0]
        .desc zabytki w naszej bazie
      %div.lvl.p1{:style => "width: #{p1}%"}
        .num= stats[1]
        .desc w sumie przejżanych<br/>już zabytków
      %div.lvl.p2{:style => "width: #{p2}%"}
        .num= stats[2]
        .desc zabytków przejżały<br/>dwie osoby
      %div.lvl.p3{:style => "width: #{p3}%"}
        .num= stats[3]
        .desc zabytków czeka na<br/>weryfikację NID

.user-stats
  - cache("home_users_statistics", :expires_in => 5.minutes) do
    - stats = users_statistics
    
    .nums
      .left
        %h3 Aktywnych użytkowników
      
        .active= stats[0]
        .numbers
          .numbers-row
            %span= stats[1]
            zarejestrowanych
          .numbers-row 
            %span.a= stats[2]
            anonimowych *
        
      - min, max = users_activity_statistics

      .right
        - if max # just in case
          .numbers-row
            %strong #{max[4]}%
            %div z nich sprawdza zabytki #{max[2]} między <span>#{max[0]}<sup>00</sup></span> a <span>#{max[1]}<sup>00</sup></span>
      
        - if min
          .numbers-row
            %strong.a #{min[4]}%
            %div a tylko tyle #{min[2]} między <span>#{min[0]}<sup>00</sup></span> a <span>#{min[1]}<sup>00</sup></span>
    
    .info
      * - lorem ipsum dolor sit amet
          
