.top
  .container
    .relic-bg
    = semantic_form_for(tsearch, :url => relics_path, :method => :get, :id => 'form-search') do |f|
      %h2 Wyszukaj i uzupełnij...
      .field.subject
        = f.input :q, :label => "Co:", :placeholder => "co", :input_html => { :class => 'autocomplete-q'}, :hint => "np. cmentarz, stocznie poniemieckie, chopinowski"
      .field.place
        = f.input :place, :label => "Gdzie:", :placeholder => "gdzie", :input_html => { :class => 'autocomplete-place'}, :hint => "np. Małkinia, ul. Grodzka w Krakowie"
      .field
        %a{:href => "", :class => "how_it_works"} Jak działa wyszukiwarka
        = f.action :submit, :class => "submit btn", :label => 'Szukaj &raquo;'.html_safe, :button_html => { :name => nil }
    .relic-example
      %h3 ... a wkrótce będziemy mogli oglądać zabytki tak:
      - example_relic = Relic.random_checked
      .relic-container
        .image
          - if example_relic.has_photos?
            = image_tag example_relic.main_photo.file.url(:icon)
        .relic-content
          = link_to example_relic.identification, example_relic
          .status.filled= example_relic.state_name
          .location_name
            %strong lokalizacja:
            = format_localization(example_relic)
          - if example_relic.dating_of_obj?
            .date
              %strong data powstania:
              = example_relic.dating_of_obj
    .welcome
      %h3 Zapraszamy do współtworzenia katalogu Otwartych Zabytków
      .left
        Tworzymy obywatelską bazę zabytków.
        %br
        W projekcie wzięło udział już
        %strong #{User.count} osób
        ,
        %br
        uzupełniliśmy
        %strong #{Relic.where(:state => 'filled').count} zabytki
        z rejestru IPN,
        %br
        dodaliśmy
        %strong #{Relic.where(:existence => 'social').count} nowych.
      .right
        %ul
          %li Co to jest zabytek?
          %li Czym jest rejestr IPN?
          %li Co Ty możesz zrobić w projekcie?
          = link_to "Dowiedz się więcej &raquo;", page_pl_path('o-projekcie'), :class => 'btn'
.widgets-intro
  %ul
    %li.first
      %h3 Widżety »
      %p To miejsce gdzie udostępniamy aplikacje korzystające z API Otwartych Zabytków. To miejsce gdzie udostępniamy aplikacje korzystające z API Otwartych Zabytków.
    %li.alerts
      %h3 Alerty
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta, ipsum vel.
    %li.map-search
      %h3 Map search
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta, ipsum vel.
    %li.add
      %h3 Dodaj
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta, ipsum vel.

.stats
  %h2 Jak wygląda nasza baza zabytków?
  .left
    %h3 Gdzie mamy najwięcej zabytków
    = render 'polish_map'
  .right
    %h3 Ostatnio edytowane
    %ul.latest
      - Relic.recently_modified_revisions.each do |revision|
        %li
          .image
            - if revision.item.has_photos?
              = image_tag revision.item.main_photo.file.url(:icon)
          .relic-content
            %p.title= revision.item.identification
            .change.added
              = kind_of_change(revision)
            = link_to "Przejdź do profilu zabytku", revision.item
  .progress-bar
    .bg
      .color{:style => "width: #{Relic.where(:state => 'checked').count * 100 / Relic.count.to_f}%"}
    .checked
      %span= Relic.where(:state => 'checked').count
      zabytków sprawdzonych
    .filled
      %span= Relic.where(:state => 'filled').count
      zabytków uzupełnionych
    .total
      %span= Relic.count
      wszystkich zabytków w bazie
      %br
      w tym
      %strong= Relic.where(:state => 'unchecked').count
      niesprawdzonych