.top
  .container
    .more
      %h2 Zadbajmy o polskie zabytki!
      %p
        Uzupełnij z nami bazę zabytków i&nbsp;pomóż stworzyć serwis.
        %br
        Skorzystaj z własnej wiedzy. Poszukaj informacji w&nbsp;książkach lub&nbsp;w&nbsp;internecie.
        %strong To naprawdę proste.
      #more-button
        = link_to page_pl_path('dowiedz-sie-wiecej') do
          Dowiedz się więcej &#187;
    #tabs
      %ul
        %li
          %a{:href => '#tabs-1', :style => "background-image: url('http://b.vimeocdn.com/ts/313/259/313259873_100.jpg')"}
        %li
          %a{:href => '#tabs-2', :style => "background-image: url('http://b.vimeocdn.com/ts/313/031/313031214_100.jpg')"}
        %li
          %a{:href => '#tabs-3', :style => "background-image: url('http://b.vimeocdn.com/ts/311/908/311908286_100.jpg')"}

      #tabs-1.video
        = image_tag 'video-preview-1.jpg'
        %script(type="text/html")
          <iframe id="tabs-1_video" src="http://player.vimeo.com/video/45066441?color=8cc1d1&api=1&player_id=tabs-1_video" color="8cc1d1" width="390" height="219" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      #tabs-2.video
        = image_tag 'video-preview-2.jpg', :style => "display:none;"
        %script(type="text/html")
          <iframe id="tabs-2_video" src="http://player.vimeo.com/video/45035633?color=8cc1d1&api=1&player_id=tabs-2_video" color="8cc1d1" width="390" height="219" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      #tabs-3.video
        = image_tag 'video-preview-3.jpg', :style => "display:none;"
        %script(type="text/html")
          <iframe id="tabs-3_video" src="http://player.vimeo.com/video/44879498?color=8cc1d1&api=1&player_id=tabs-3_video" color="8cc1d1" width="390" height="219" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

    .step1
      %h3
        Krok 1.
        %span Zacznij od wyszukania zabytku:
      %p.adding
        (dodawanie nowych będzie możliwe za miesiąc)
      %p
        np.
        %em cmentarz, dworek w Podkarpackiem, Pałac na Wodzie, Małkinia
      = simple_form_for Relic.new, :url => relics_path, :html => { :class => 'well form-search'},:method => :get do |f|
        = f.input :q1, :label => false, :input_html => {:name => 'q1', :value => params[:q1], :class => "search-query", :autofocus => true}
        = f.button :submit, 'Szukaj »', :name => nil
      %p.examples
        Skorzystaj z przykładów:
        - cache("home_search_suggestions", :expires_in => 5.minutes) do
          = random_search_suggestions
.user-stats.progress
  - cache("home_relics_statistics", :expires_in => 5.minutes) do
    - stats = relics_statistics

    %h2 JAK WYGLĄDA NASZA BAZA ZABYTKÓW?

    .nums
      .left.g
        %h3 Sprawdziliśmy

        - # stats[0] - wszystkie
        - # stats[1] - przez >= 1 osobe
        - # stats[2] - przez >= 2 osoby
        - # stats[3] - przez >= 3 osoby

        .wrap
          .active= stats[1]
          .numbers
            .numbers-row
              %span= stats[3]
              = t('plural.relic', :count => stats[3])
              sprawdziły 3 osoby
            .numbers-row
              %span.a= stats[2]
              = t('plural.relic', :count => stats[2])
              sprawdziły dwie osoby
        %h3= t('plural.relic', :count => stats[1])
      .left.r
        - l = stats[0]-stats[1]
        %h3
          = t('plural.left_to_the_end', :count => l)
        .wrap
          .active= l
        %h3= t('plural.relic', :count => l)

    .progress-bar
      .bg
        .color{:style => "width: #{(stats[3]*100/stats[0].to_f).ceil}%"}

    .info
      %strong= stats[0]
      %br
      wszystkich zabytków w bazie

.user-stats
  - cache("home_users_statistics", :expires_in => 5.minutes) do
    - stats = users_statistics

    .nums
      .left
        %h3 Aktywnych użytkowników

        .active= stats[0]
        .numbers
          .numbers-row
            %span= stats[1]
            zarejestrowanych
          .numbers-row
            %span.a= stats[2]
            anonimowych *

      - min, max = users_activity_statistics

      .right
        - if max # just in case
          .numbers-row
            %strong #{max[4]}%
            %div z nich sprawdza zabytki #{max[2]} między <span>#{max[0]}<sup>00</sup></span> a <span>#{max[1]}<sup>00</sup></span>

        - if min
          .numbers-row
            %strong.a #{min[4]}%
            %div a tylko tyle #{min[2]} między <span>#{min[0]}<sup>00</sup></span> a <span>#{min[1]}<sup>00</sup></span>

    .info
      * - Brak obowiązkowej rejestracji uniemożliwia nam dokładne zliczenie anonimowych uczestników czynu społecznego.
