.top
  .container
    .more
      %h2 Zadbajmy o polskie zabytki!
      %p 
        Weź udział w społecznościowym uzupełnianiu bazy wiedzy i pomóż nam stworzyć serwis o zabytkach.
        %strong To naprawdę proste.
      = link_to page_pl_path('dowiedz-sie-wiecej'), :class => 'button' do
        Dowiedz się więcej &#187;
    #tabs
      %ul
        %li
          %a{:href => '#tabs-1'} 1
        %li
          %a{:href => '#tabs-2'} 2
        %li
          %a{:href => '#tabs-3'} 3
      #tabs-1
        -#%iframe{ :src => "http://player.vimeo.com/video/15069551", :width => "400", :height => "225", :frameborder => "0"}
      #tabs-2
        -#%iframe{ :src => "http://player.vimeo.com/video/15069551", :width => "400", :height => "225", :frameborder => "0"}
      #tabs-3
        -#%iframe{ :src => "http://player.vimeo.com/video/15069551", :width => "400", :height => "225", :frameborder => "0"}

    .step1
      %h3
        Krok 1.
        %span Zacznij od wyszukania zabytku:
      %p 
        np.
        %em cmentarz, dworek w Podkarpackim, Pałac na Wodzie, Małkinia
      = simple_form_for Relic.new, :url => relics_path, :html => { :class => 'well form-search'},:method => :get do |f|
        = f.input :q1, :label => false, :input_html => {:name => 'q1', :value => params[:q1], :class => "search-query", :autofocus => true}, :placeholder => "wpisz, czego szukasz"
        = f.button :submit, 'Szukaj »', :name => nil
      %p.examples
        Skorzystaj z przykładów:
        - cache("home_search_suggestions", :expires_in => 5.minutes) do
          = random_search_suggestions
.content_wrapper
  .container
    %h3 Jak wygląda nasza baza zabytków?
    .status_bar
      - cache("home_relics_statistics", :expires_in => 5.minutes) do
        - stats = relics_statistics

        - p3 = [5, stats[3] * 100 / stats[0]].max
        - p2 = [10, stats[2] * 100 / stats[0]].max
        - p1 = [15, stats[1] * 100 / stats[0]].max

        %div{:style => "width: 100%"}= stats[0]
        %div{:style => "width: #{p1}%"}= stats[1]
        %div{:style => "width: #{p2}%"}= stats[2]
        %div{:style => "width: #{p3}%"}= stats[3]

.stats
  - cache("home_users_statistics", :expires_in => 5.minutes) do
    - stats = users_statistics


    Aktywnych użytkowników
    = stats[0]
    %br

    #{stats[1]} zarejestrowanych
    %br
    #{stats[2]} anonimowych*

    %br

    - min, max = users_activity_statistics

    - if max # just in case
      #{max[4]}% z nich sprawdza zabytki #{max[2]} między #{max[0]}.00 a #{max[1]}.00

    - if min # just in case
      #{min[4]}% a tylko tyle #{min[2]} między #{min[0]}.00 a #{min[1]}.00
