.top
  .container
    .relic-bg
    = semantic_form_for(tsearch, :url => relics_path, :method => :get, :id => 'form-search') do |f|
      %h2 Wyszukaj i uzupełnij...
      .field.subject
        = f.input :q, :label => "Co:", :placeholder => "co", :input_html => { :class => 'autocomplete-q'}, :hint => "np. cmentarz, stocznie poniemieckie, chopinowski"
      .field.place
        = f.input :place, :label => "Gdzie:", :placeholder => "gdzie", :input_html => { :class => 'autocomplete-place'}, :hint => "np. Małkinia, ul. Grodzka w Krakowie"
      .field
        %a{:href => "", :class => "how_it_works"} Jak działa wyszukiwarka
        = f.action :submit, :class => "submit btn", :label => 'Szukaj &raquo;'.html_safe, :button_html => { :name => nil }
    .relic-example
      %h3 ... a wkrótce będziemy mogli oglądać zabytki tak:
      .relic-container
        .image
          =image_tag "homepage-image-example.png"
        .relic-content
          %a{:href => ""} Starokatolicki Kościół Mariawitów ob. Rzymsko-Katolicki Kościół Rektoralny Środowisk Twórczych pw. Niepokalanego Poczęcia NMP
          .status.filled uzupełniony
          .location_name
            %strong lokalizacja:
            mazowieckie » pow. Warszawa » gm. Warszawa » Warszawa ul. Towarowa 20
          .date
            %strong data powstania:
            1679
    .welcome
      %h3 Zapraszamy do współtworzenia katalogu Otwartych Zabytków
      .left
        Tworzymy obywatelską bazę zabytków.
        %br
        W projekcie wzięło udział już
        %strong 15902 osób
        ,
        %br
        uzupełniliśmy
        %strong 3212 zabytki
        z rejestru IPN,
        %br
        dodaliśmy
        %strong 28 nowych.
      .right
        %ul
          %li Co to jest zabytek?
          %li Czym jest rejestr IPN?
          %li Co Ty możesz zrobić w projekcie?
        %a{:href => "", :class => "btn"} Dowiedz się więcej &raquo;
.widgets-intro
  %ul
    %li.first
      %h3 Widżety »
      %p To miejsce gdzie udostępniamy aplikacje korzystające z API Otwartych Zabytków. To miejsce gdzie udostępniamy aplikacje korzystające z API Otwartych Zabytków.
    %li.alerts
      %h3 Alerty
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta, ipsum vel.
    %li.map-search
      %h3 Map search
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta, ipsum vel.
    %li.add
      %h3 Dodaj
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta, ipsum vel.

.stats
  %h2 Jak wygląda nasza baza zabytków?
  .left
    %h3 Gdzie mamy najwięcej zabytków
    = render 'polish_map'
  .right
    %h3 Ostatnio edytowane
    %ul.latest
      %li
        .image
          =image_tag "bg-relic-image-ph-small-56.png"
        .relic-content
          %p.title Starokatolicki Kościół Mariawitów ob. Rzymsko-Katolicki Kościół Rektoralny Środowisk Twórczych pw. Niepokalanego Poczęcia NMP
          .change.added
            dodana lokalizacja
            %em ul. Towarowa 20
          %a{:href => ""} Przejdź do profilu zabytku
      %li
        .image
          =image_tag "homepage-image-example.png"
        .relic-content
          %p.title Zamek książek mazowieckich (ruina)
          .change.edited
            edytowana data powstania:
            %em 2 poł. XIX w.
          %a{:href => ""} Przejdź do profilu zabytku
      %li
        .image
          =image_tag "homepage-image-example.png"
        .relic-content
          .change.edited
            edytowana nazwa:
            %em.bold Pałac Królewski
          %a{:href => ""} Przejdź do profilu zabytku
      %li
        .image
          =image_tag "homepage-image-example.png"
        .relic-content
          %p.title Zamek książek mazowieckich (ruina)
          .change.success
            zmienił status na
            %span.status.filled uzupełniony
          %a{:href => ""} Przejdź do profilu zabytku
  .progress-bar
    .bg
      .color{:style => "width: 20%"}
    .checked{:style => "left: 194px"}
      %span 7827
      zabytków sprawdzonych
    .filled{:style => "left: 94px"}
      %span 3544
      zabytków uzupełnionych
    .total
      %span 76343
      wszystkich zabytków w bazie
      %br
      w tym
      %strong 52752
      niesprawdzonych