%h1
  = t("widget.#{widget.class.partial_name}.title")
  %a.back{:href => widgets_path}= t('views.widgets.edit.back')
.sidebar
  = semantic_form_for widget_add_alert, :url => self.send("widgets_#{widget.class.partial_name}_path", widget) do |f|
    = f.input :relic_id, :as => :hidden, :label => false
    = f.input :q, :label => false, :hint => t('views.widgets.edit.add_alert.hint')
    = f.button t('views.widgets.edit.add_alert.search'), :class => 'use-widget'
    .clearfix
    - if searched_relics.present?
      %h3=t('views.widgets.edit.add_alert.which_one')
      .relics-wrapper
        %ul.relics
          - searched_relics.each do |relic|
            %li
              = link_to t('views.relicbuilders.new.choose_html'), 'javascript: void(0);', 'data-relic_id' => relic.id, 'data-identification' => relic.identification
              %strong= relic.identification
.content
  - if widget.valid?
    %h2= t('views.widgets.edit.preview')
    .preview
      = raw(widget.snippet)
    %h2= t('views.widgets.edit.generated')
    %div
      %span.block= t('views.widgets.edit.code_help')
      %textarea{:cols => "20", :rows => "3"}= widget.snippet

- content_for(:footer_javascripts) do
  :coffeescript
    jQuery("a[data-relic_id]").click (e) ->
      $('#widget_add_alert_relic_id').val $(this).data('relic_id')
      $(this).parents('form').submit()
