%h1
  = t("widget.direction.title_")
  %a.back{:href => widgets_path}= t('views.widgets.edit.back')
.content
  %h2= t('views.widgets.edit.direction.header')
  %span.block= t('views.widgets.edit.direction.settings_info_')
  .preview
    %iframe#oz_direction{ width: 920, height: 1000, src: configure_widgets_direction_url(widget, iframe: true) }
  .sidebar
    = semantic_form_for widget, :url => self.send("widgets_#{widget.class.partial_name}_path", widget), :remote => true do |f|
      = f.input :width, :label => t('views.widgets.edit.direction.width'), :required => false
      = f.input :height, :label => t('views.widgets.edit.direction.height'), :required => false
      = f.input :params, :as => :hidden, label: false
      - if current_user.present?
      = f.button t('views.widgets.edit.direction.save_and_print'), name: 'save_and_print'
      - else
        = link_to t('views.widgets.edit.direction.print_'), print_widgets_direction_path, :class => 'button'
      = f.button t('views.widgets.edit.direction.save'), name: 'save'
  %h2= t('views.widgets.edit.generated')
  %div
    %span.block= t('views.widgets.edit.code_help')
    %textarea#snippet{:cols => "20", :rows => "3"}= widget.snippet
