%h1
  Konfiguracja widgetu
  %span '#{widget.class.title}'
.sidebar
  = semantic_form_for widget, :url => self.send("widgets_#{widget.class.partial_name}_path", widget), :remote => true do |f|
    = f.input :width, :label => "Szerokość widgeta"
    = f.input :height, :label => "Wysokość widgeta"
    = f.input :hide_sidebar, :as => :boolean, :label => "Ukryj pasek boczny", :required => false
    = f.input :api_params, :as => :text,
                 :label => "Parametry do <a href='/api_doc/'>API</a>".html_safe,
                 :hint => "Ustawisz je poruszając mapką podglądową po prawej stronie.",
                 :input_html => { :readonly => "readonly" }
    = f.submit "Zaktualizuj widget"
- if widget.valid?
  .content
    %h2 Podgląd wygenerowanego widgetu
    .preview
      = raw(widget.snippet)
    %h2 Wygenerowany kod do wstawienia na stronę
    %div
      %span.block Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulumque sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum que sapien.
      %textarea{:cols => "20", :rows => "3"}= widget.snippet
