%h1
  = t("widget.#{widget.class.partial_name}.title")
  %a.back{:href => widgets_path}= t('views.widgets.edit.back')
- if widget.valid?
  .content
    %h2= t('views.widgets.edit.timeline.header')
    %span.block= t('views.widgets.edit.timeline.settings_info')
    .preview
      = raw(widget.snippet)
    .sidebar
      = semantic_form_for widget, :url => self.send("widgets_#{widget.class.partial_name}_path", widget), :remote => true do |f|
        = f.input :width, :label => t('views.widgets.edit.timeline.width'), :required => false
        = f.input :height, :label => t('views.widgets.edit.timeline.height'), :required => false
        = f.input :hide_sidebar, :as => :boolean, :label => t('views.widgets.edit.timeline.hide_sidebar'), :required => false
        = f.input :api_params, :as => :text, :label => t('views.widgets.edit.timeline.params_label'), :hint => t('views.widgets.edit.timeline.params_hint'), :input_html => { :readonly => "readonly" }
    %h2= t('views.widgets.edit.generated')
    %div
      %span.block= t('views.widgets.edit.code_help')
      %textarea#snippet{:cols => "20", :rows => "3"}= widget.snippet

