%section.new.alert.oz-alert.oz-no-padding
  %h2.oz-no-margin= t('views.alerts.new.header')
  - if request.xhr?
    = render 'shared/flash', :flash => flash
  .row.oz-no-margin
    = semantic_form_for [relic, alert], :html => {'data-ajax-form' => true} do |f|
      %p.description= t('views.alerts.new.description')
      = f.input :description, :as => :text, :input_html => { :value => params[:description] }
      - if alert.file?
        .clearfix
          = image_tag alert.file.url(:mini), class: 'cached-img', alt: t('oz_img_alts.alert')
          = f.input :file, :as => :file, wrapper_html: { class: 'cached-file-input' }
      - else
        = f.input :file, :as => :file
      = f.hidden_field :file_cache
      %p.description= t('views.relics.edit.photos.statement_html')
      = f.input :author, :required => true
      = f.input :date_taken, :required => true
      .actions
        = f.button t('views.alerts.new.submit'), class: 'js-piwik-edited-alert'
        lub
        = link_to t('views.alerts.new.cancel'), relic_path(relic.id), :class => "js-close-edit-relic"
%button.btn.oz-close-edit-relic.js-close-edit-relic.oz-alert-close-btn{ :type => "button"} #{t('views.relics.index.states.close')}