%section.new.alert{ :"data-fancybox" => true, :"data-replace" => "section.new.alert" }
  %h2 Zgłoś alert!
  - if request.xhr?
    = render 'shared/flash', :flash => flash
  .row
    = semantic_form_for [relic, alert], :remote => true do |f|
      %p.description Wiesz, że obiekt wymaga opieki? Zaalarmuj!
      = f.input :file, :as => :file
      = f.input :description, :as => :text, :input_html => { :value => params[:description] }
      .actions
        = f.submit "zgłoś alert"
        lub
        = link_to 'anuluj', relic_path(relic.id), :remote => true