<h2>Zaloguj się <%= resource.id %></h2>

<%= semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= f.semantic_errors %>
  <%= f.input :email, :required => false, :autofocus => true %>
	<%= f.input :password, :required => false %>
	<%= f.submit "Zaloguj się" %>
<% end %>

<%= render "devise/shared/links" %>
