%section.show.photo
  %h2= t('views.photos.show.header', :count => tree_photos.count)
  .content
    .photo_content(data-replace="section.show.photo .photo_content")
      - if tree_photos.one_before(tree_photo.id).present?
        = link_to "«", relic_photo_path(relic.id, tree_photos.one_before(tree_photo.id)), :remote => true, :class => "prev"
      - if tree_photos.one_after(tree_photo.id).present?
        = link_to "»", relic_photo_path(relic.id, tree_photos.one_after(tree_photo.id)), :remote => true, :class => "next"
      .photo_center{ :style => "width: #{tree_photo.file_full_width || 800}px; margin: 0 auto;" }
        - if tree_photo.file_full_height.present?
          .full-photo= image_tag(tree_photo.file.full.url, :width => tree_photo.file_full_width, :height => tree_photo.file_full_height, :alt => tree_photo.alternate_text)
        - else
          .full-photo= image_tag(tree_photo.file.full.url, :alt => tree_photo.alternate_text)

        .info-left
          %p.info-row
            %strong= t('activerecord.attributes.photo.author')
            = tree_photo.author
          %p.info-row
            %strong= t('activerecord.attributes.photo.date_taken')
            = tree_photo.date_taken
        .info-right
          %p.info-row
            = t('views.photos.show.photo_belongs_to')
            = link_to relic.identification, [relic]

            - if relic.parent
              = t('views.photos.show.relic_parent')
              = link_to relic.parent.identification, [relic.parent]

          %p.info-row= t('views.photos.show.license')
        %p.description
          %strong= t('activerecord.attributes.photo.description')
          = sanitize tree_photo.description

    %ul#slider_midi.jcarousel-skin-midi{ :"data-photos" => tree_photos.all.to_json }