%section.show.photo
  %h2 Galeria (#{tree_photos.count})
  .content
    .photo_content(data-replace="section.show.photo .photo_content")
      - if tree_photos.one_before(photo.id).present?
        = link_to "«", relic_photo_path(relic.id, tree_photos.one_before(photo.id)), :remote => true, :class => "prev"
      - if tree_photos.one_after(photo.id).present?
        = link_to "»", relic_photo_path(relic.id, tree_photos.one_after(photo.id)), :remote => true, :class => "next"
      .photo_center{ :style => "width: #{tree_photo.file_full_width || 800}px; margin: 0 auto;" }
        - if tree_photo.file_full_height.present?
          .full-photo= image_tag(tree_photo.file.full.url, :width => tree_photo.file_full_width, :height => tree_photo.file_full_height)
        - else
          .full-photo= image_tag(tree_photo.file.full.url)

        .info-left
          %p Autor: #{tree_photo.author}
          %p Data wykonania: #{tree_photo.date_taken}
          %p Creative Commons 3.0
        .info-right
          %p
            Zdjęcie należy do obiektu
            = link_to relic.identification, [relic]

          - if relic.parent
            należącego do zespołu zabytków
            = link_to relic.parent.identification, [relic.parent]

    %ul#slider_midi.jcarousel-skin-midi{ :"data-photos" => tree_photos.all.to_json }