%section.show.alerts#anchor-alerts
  %h2=t('views.relics.show.alerts.header')
  - if relic.alerts.count > 0
    = link_to image_tag('edit-relic-ico-alert.png') + t('views.relics.show.alerts.create'), new_relic_alert_path(relic), :remote => true, :class => "edit-relic-link"
    .content
      - if relic.alerts.not_fixed.count > 0
        .not-fixed
          %h4=t('views.relics.show.alerts.not_fixed')
          %ul
            - relic.alerts.not_fixed.each do |alert|
              %li
                - if alert.file?
                  .image= image_tag alert.file.midi.url, :width => 80, :height => 80
                = simple_format alert.description
      - if relic.alerts.fixed.count > 0
        .fixed
          %h4=t('views.relics.show.alerts.fixed')
          %ul
            - relic.alerts.fixed.each do |alert|
              %li
                - if alert.file?
                  .image= image_tag alert.file.mini.url, :width => 45, :height => 45
                = simple_format alert.description
      - unless relic.existence == "archived"
        = link_to new_relic_alert_path(relic, :non_existent => true), :class => "alert-link" do
          = t('views.relics.show.alerts.non_existent')
  - else
    .placeholder
      %p= t('views.relics.show.alerts.placeholder')
      = link_to image_tag('edit-relic-ico-alert.png') + t('views.relics.show.alerts.create'), new_relic_alert_path(relic), :remote => true
      - unless relic.existence == "archived"
        = link_to new_relic_alert_path(relic.id,  :non_existent => true), :class => "alert-link" do
          = t('views.relics.show.alerts.non_existent')