%section.show.categories
  %h2= t('views.relics.show.categories.header')
  - if relic.categories.length > 0 || relic.tags.length > 0
    = link_to t('views.relics.show.general.fill_in'), edit_section_relic_path(relic.to_param, :categories), :remote => true, :class => "edit-relic-link"
    .content
      .categories
        %strong= t('views.relics.show.categories.content_title_cat')
        - if relic.categories.length > 0
          %span.content
            = relic.categories.map { |c| link_to(Category.to_hash[c], relics_path(:search => {:categories => [c]})) + (raw(' <span class="auto_categories" title="' + t('views.relics.show.categories.assigned_automatically', editable: false) + '">*</span>') if relic.auto_categories.include?(c)) }.join(', ').html_safe
        - else
          = link_to t('views.relics.show.categories.not_added'), edit_section_relic_path(relic.to_param, :categories), :remote => true
      .tags
        %strong= t('views.relics.show.categories.content_title_tag')
        - if relic.tags.length > 0
          %span.content
            = relic.tags.map { |tag| link_to(tag, relics_path(:search => {:q => tag})) }.join(', ').html_safe
        - else
          = link_to t('views.relics.show.categories.not_added'), edit_section_relic_path(relic.to_param, :categories), :remote => true
  - else
    .placeholder
      = t('views.relics.show.categories.placeholder')
      = link_to t('views.relics.show.categories.add_category'), edit_section_relic_path(relic.to_param, :categories), :remote => true
      .example
        %a.show-example{:href => image_path('screenshot-categories.jpg'), :class => "fancybox"}
          = t('views.relics.show.general.show_example')
