%section.show.documents
  %h2 Dokumenty urzędowe
  - if relic.documents_info.present?
    .where-to-find
      %h3 Gdzie szukać?
      %p= relic.documents_info
  - if relic.all_documents.count > 0
    = link_to 'dodaj plik', edit_section_relic_path(relic.id, :documents), :title => 'edytuj dokumenty urzędowe zabytku', :remote => true, :class => "edit-relic-link"
    .content
      - relic.all_documents.each do |document|
        .document{ :class => document.mime_class }
          %h3= link_to document.name, document.file.url
          %p
            dodano:
            = l document.created_at.to_date, :format => :short
          %p
            rozmiar:
            = (document.size / 1024.0 / 1024.0).round(1)
            MB
      = link_to "wgraj plik", download_zip_relic_path(relic)
  - else
    .placeholder
      %p Nikt jeszcze nie wgrał żadnego pliku. Bądź pierwszy.
      = link_to "dodaj plik", edit_section_relic_path(relic.id, :documents), :remote => true
      %a.show-example{:href => image_path('help-screen-1.png'), :class => "fancybox"} Pokaż przykład