%section.show.events
  %h2= t('views.relics.show.events.header')
  - if relic.all_events.count > 0
    = link_to t('views.relics.show.general.fill_in'), edit_section_relic_path(relic.id, :events), :remote => true, :class => "edit-relic-link"
    .content
      .viewport
        %ul
          - relic.all_events.includes(:relic, :photo).each do |event|
            %li
              - if event.photo.present?
                = link_to image_tag(event.photo.file.url(:icon)), relic_photo_path(relic.id, relic.all_photos.first.id), :remote => true
              - if event.relic_id == relic
                %strong= event.date
                \-
                = event.name
              - else
                %strong
                  %span<>= link_to event.relic.identification, relic_path(event.relic)
                  %span<>= ", #{event.date}"
                \-
                = event.name
  - else
    .placeholder
      = t('views.relics.show.events.placeholder')
      = link_to t('views.relics.show.events.add'), edit_section_relic_path(relic.id, :events), :remote => true
      .example
        %a.show-example{:href => image_path('screenshot-dates.jpg'), :class => "fancybox"}
          = t('views.relics.show.general.show_example')
