%section.show.general
  - if relic.parent.present?
    .subrelic-parent-info
      %p= t('views.relics.show.subrelics.parent_info', :parent => link_to(relic.parent.identification, [relic.parent], :remote => true))
  - if relic.is_group? && relic.root.descendants.count > 0
    .subrelic-parent-info
      %p= t('views.relics.show.subrelics.group_info')
  = link_to t('views.relics.show.general.fill_in'), edit_section_relic_path(relic.to_param, :general), :remote => true, :class => "edit-relic-link"
  %h1
    = relic.identification
    .fb-like{"data-href" => "http://#{request.host+request.fullpath}", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "200"}
  - if relic.common_name.present?
    %p
      %strong= t('views.relics.show.general.common_name')
      =relic.common_name

  .status
    = state_tag(relic)
    .help
      = image_tag 'ico-help.png'
      .help-wrapper
        = link_to t('views.relics.index.states.close'), '#', :class => 'close'
        %h3= t('views.relics.index.states.header')
        %ul
          %li
            = state_hint_tag(relic.state, relic.existence == 'social')
    %span.relic-info
      = t('views.relics.show.general.relic')
      %strong= t("activerecord.attributes.relic.existences.#{relic.existence}")
  .location_name
    = link_to t('views.relics.show.general.fill_in'), edit_section_relic_path(relic.to_param, :location), :remote => true, :class => "edit-relic-link"
    %strong= t('views.relics.show.general.location')
    - if relic.polish_relic and relic.place_id?
      %p= format_localization(relic, 'reverse')
    - elsif !relic.polish_relic
      %p= [I18n.t(relic.country_code, :scope => :countries), relic.fprovince, relic.fplace].select(&:present?).join(', ')
    %p= relic.street
    - if relic.latitude.present? && relic.longitude.present?
      %p= link_to t('views.relics.show.general.see'), '#', :id => "relic_location_popover", :class => "js-popover",
        :"data-content-id" => "location_body", :"data-title-id" => "location_title"
      %script(type="text/html" id="location_title")
        %p= relic.latitude.round(6).to_s + ", " + relic.longitude.round(6).to_s
        %p.close= link_to t('views.relics.show.general.close'), "#", :class => "close_popover", :"data-popover-id" => "relic_location_popover"
      %script(type="text/html" id="location_body")
        = link_to "https://maps.google.com/?q=#{relic.latitude.to_f},#{relic.longitude.to_f}&t=h", :target => :_blank do
          %img{ src: "http://maps.googleapis.com/maps/api/staticmap?center=#{relic.latitude.to_f},#{relic.longitude.to_f}&zoom=17&size=260x160&sensor=false&markers=#{relic.latitude.to_f},#{relic.longitude.to_f}&maptype=hybrid", width: 260, height: 160 }
  .dating
    - if relic.dating_of_obj.present?
      = link_to t('views.relics.show.general.fill_in'), edit_section_relic_path(relic.to_param, :events), :remote => true, :class => "edit-relic-link"
    %strong= t('views.relics.show.general.dating_of_obj')
    - if relic.dating_of_obj.present?
      %span.content= relic.dating_of_obj
    - else
      %span.placeholder= link_to t('views.relics.show.general.no_data_fill_in'), edit_section_relic_path(relic.to_param, :events), :remote => true
  - if relic.register_number.present?
    .register_number
      %strong= t('views.relics.show.general.register_number')
      %p= relic.register_number
  - if relic.is_a?(Relic) and relic.original_relic.present?
    = link_to content_tag(:span, t('views.relics.show.general.original')), relic_path(relic.to_param, :original => true), :class => "original"
    - # Profile:
    - # - if current_user.present? && current_user.adopted?(relic)
    - #   = link_to content_tag(:span, t('views.relics.show.general.unadopt')), unadopt_relic_path(relic.id), :class => "adopt", :method => :post, :remote => true
    - # - else
    - #   = link_to content_tag(:span, t('views.relics.show.general.adopt')), adopt_relic_path(relic.id), :class => "adopt", :method => :post, :remote => true
  - else
    %div{:style => 'display:block; height: 50px;'}
  = link_to content_tag(:span, t('views.relics.guide.print_guide')), print_relic_path(relic.to_param), :class => "print-guide", :target => '_blank'
