%section.show.links
  %h2= t('views.relics.show.links.header')
  - if relic.all_links.count > 0
    = link_to t('views.relics.show.general.fill_in'), edit_section_relic_path(relic.to_param, :links), :remote => true, :class => "edit-relic-link"
    .content
      %ul
        - grouped_links = relic.all_links.group_by(&:relic_id)
        - grouped_links.each do |relic_id, links|
          - if grouped_links.size > 0
            %h3= Relic.find(relic_id).identification
          - links.each do |link|
            - if link.url?
              %li
                = link_to link.shortened_url, link.url, target: "_blank"
                \-
                = link.name
            - elsif link.paper?
              %li
                %strong= link.formal_name
                \-
                = link.name
  - else
    .placeholder
      = t('views.relics.show.links.placeholder')
      = link_to "dodaj źródło", edit_section_relic_path(relic.to_param, :links), :remote => true
      .example
        %a.show-example{:href => image_path('screenshot-links.jpg'), :class => "fancybox"}
          = t('views.relics.show.general.show_example')
