%section.show.location
  %h2= t('views.relics.show.location.header')
  %img{ src: "http://maps.googleapis.com/maps/api/staticmap?center=#{relic.latitude.to_f},#{relic.longitude.to_f}&zoom=17&size=600x410&sensor=false&markers=#{relic.latitude.to_f},#{relic.longitude.to_f}&maptype=hybrid", width: 600, height: 410, alt: t('oz_img_alts.map') }