- if relic.main_photo.present?
  %section.show.photos
    .content
      .actions
        = link_to "zobacz galerię (#{relic.all_photos.count})", relic_photo_path(relic.id, relic.all_photos.first.id), :class => "show-photos", :remote => true
        = link_to "dodaj zdjęcia", edit_section_relic_path(relic.id, :section => :photos), :class => "edit-photos", :remote => true
      .main-photo
        = link_to image_tag(relic.main_photo.file.maxi.url, :width => 300, :height => 300), relic_photo_path(relic.id, relic.main_photo.id), :class => "main-photo", :remote => true
        .author= relic.main_photo.author
      - if relic.photos.count > 1
        %ul#slider_mini.jcarousel-skin-mini{ :"data-photos" => relic.all_photos.all.to_json }
- else
  %section.show.photos.placeholder
    .ico
    = link_to "dodaj zdjęcia", edit_section_relic_path(relic.id, :section => :photos), :class => "edit-photos", :remote => true