- if relic.is_group? || relic.parent.present?
  %aside.subrelics

    %p.subrelics-description= relic.is_group? ? t('views.relics.show.subrelics.header1') : t('views.relics.show.subrelics.header2')

    .subrelics-tree
      = content_tag :h1, :class => ('subrelic type-root ' + (relic.root == relic ? 'type-current ' : '')).strip do
        = link_parent(relic.root)

      - if relic.root.descendants.created.count > 0
        %p.subrelics-info= t('views.relics.show.subrelics.subheader')

        %ul.subrelics-list
          - sorted_subrelics = relic.root.descendants.created.order('identification')
          - sorted_subrelics.each do |rel|
            = link_subrelics(rel, relic)
        - if relic.is_a?(Relic)
          %footer.subrelics-add
            = link_to t('views.relics.show.subrelics.add_new'), new_relicbuilder_path(:parent_id => relic.root.to_param), :class => 'subrelics-add-button'
      - else
        %p.subrelics-info= t('views.relics.show.subrelics.subheader_empty')
        - if relic.is_a?(Relic)
          %footer.subrelics-add.type-empty
            = link_to t('views.relics.show.subrelics.add_new'), new_relicbuilder_path(:parent_id => relic.root.to_param), :class => 'subrelics-add-button'
