- if relic.is_group? || relic.parent.present?
  %aside.subrelics

    %p.subrelics-description= relic.is_group? ? t('views.relics.show.subrelics.header1') : t('views.relics.show.subrelics.header2')

    .subrelics-tree
      = content_tag :h1, :class => ('subrelic type-root ' + (relic.root == relic ? 'type-current ' : '')).strip do
        = link_to relic.root.identification, [relic.root], :remote => true

      - if relic.root.descendants.created.count > 0
        %p.subrelics-info= t('views.relics.show.subrelics.subheader')

        %ul.subrelics-list
          - sorted_subrelics = relic.root.descendants.created.order('identification')
          - sorted_subrelics.each do |rel|
            = link_to [rel], :class => 'subrelic-link', :remote => true do
              = content_tag :dl, :class => ('subrelic ' + (rel == relic ? 'type-current ' : '')).strip do
                %dd.subrelic-image
                  = image_tag(rel.photos.count > 0 ? rel.main_photo.file.url(:icon) : 'fallback/photo_tiny_default.png', :size => '24x24', :class => 'thumb type-tiny', :alt => rel.identification)
                %dt.subrelic-name= rel.identification
        - if relic.is_a?(Relic)
          %footer.subrelics-add
            = link_to t('views.relics.show.subrelics.add_new'), new_relicbuilder_path(:parent_id => relic.root.to_param), :class => 'subrelics-add-button'
      - else
        %p.subrelics-info= t('views.relics.show.subrelics.subheader_empty')
        - if relic.is_a?(Relic)
          %footer.subrelics-add.type-empty
            = link_to t('views.relics.show.subrelics.add_new'), new_relicbuilder_path(:parent_id => relic.root.to_param), :class => 'subrelics-add-button'
