%section.show.subrelics
  %h2= relic.is_group? ? t('views.relics.show.subrelics.header1') : t('views.relics.show.subrelics.header2')
  .content
    %ul.subrelics-tree
      - root = relic.root
      = content_tag :li, :class => ("node " + (root == relic ? "current " : "") ).strip do
        %span.line
        = link_to root.identification, [root], :remote => true
        -# all descendants
        = content_tag :ul do
          - relic.root.descendants.each do |rel|
            = content_tag :li, :class => ("leaf " + (rel == relic ? "current  " : "") ).strip do
              %span.line
              = link_to rel.identification, [rel], :remote => true
      %li.add= link_to t('views.relics.show.general.add'), new_relicbuilder_path(:parent_id => root.id),:class => "add_relic"
