%aside.subrelics

  %p.subrelics-description= relic.is_group? ? t('views.relics.show.subrelics.header1') : t('views.relics.show.subrelics.header2')

  .subrelics-tree
    = content_tag :h1, :class => ('subrelic type-root ' + (relic.root == relic ? 'type-current ' : '')).strip do
      = link_to relic.root.identification, [relic.root], :remote => true

    %ul.subrelics-list
      - relic.root.descendants.each do |rel|
        = link_to [rel], :remote => true do
          = content_tag :dl, :class => ('subrelic ' + (rel == relic ? 'type-current ' : '')).strip do
            %dd.subrelic-image
              %img.thumb.type-tiny{:alt => 'Zabytek', :src => asset_path('fallback/photo_tiny_default.png'), :width => 24, :height => 24}
            %dt.subrelic-name= rel.identification

    %footer.subrelics-add
      = link_to t('views.relics.show.subrelics.add_new'), new_relicbuilder_path(:parent_id => relic.root.id), :class => 'subrelics-add-button'
