%section.new.alert
  %h2= t('views.alerts.new.header')
  - if request.xhr?
    = render 'shared/flash', :flash => flash
  .row
    = semantic_form_for [relic, alert], :html => {'data-ajax-form' => true} do |f|
      %p.description= t('views.alerts.new.description')
      = f.input :description, :as => :text, :input_html => { :value => params[:description] }
      - if alert.file?
        .clearfix
          = image_tag alert.file.url(:mini), class: 'cached-img'
          = f.input :file, :as => :file, wrapper_html: { class: 'cached-file-input' }
      - else
        = f.input :file, :as => :file
      = f.hidden_field :file_cache
      %p.description= t('views.relics.edit.photos.statement_html')
      = f.input :author, :required => true
      = f.input :date_taken, :required => true
      .actions
        = f.button t('views.alerts.new.submit')
