:ruby
  @voivodeship ||= relic.try(:voivodeship)
  @district    ||= relic.try(:district) || @voivodeship.try(:districts).try(:first)
  @commune     ||= relic.try(:commune) || @district.try(:communes).try(:first)

.administrative-level
  .one-third
    = label_tag 'relic[voivodeship_id]', t('views.relicbuilders.administrative_level.voivodeship')
    = select 'relic', 'voivodeship_id',  voivodeship_collection, selected: @voivodeship.try(:id).to_s
  - if @voivodeship
    .one-third
      = label_tag 'relic[district_id]', t('views.relicbuilders.administrative_level.district')
      = select 'relic', 'district_id', district_collection, selected: @district.try(:id).to_s
  - if @district
    .one-third
      = label_tag 'relic[commune_id]', t('views.relicbuilders.administrative_level.commune')
      = select 'relic', 'commune_id', commune_collection, selected: @commune.try(:virtual_id).to_s
  - if @commune
    .row
      = label_tag 'relic[place_id]', t('views.relicbuilders.administrative_level.city')
      = select 'relic', 'place_id',  place_collection, selected: relic.try(:place_id).to_s
  - if relic && relic.errors[:place] && relic.place_id.blank?
    .error
      = t('views.relicbuilders.administrative_level.error')
