%section.creator-step
  / = render :partial => 'parent_relic', :object => @relic.parent
  %p.intro= t('views.relicbuilders.details.intro1')
%form(class="formtastic")
  #relic_identification_input(class="string clearfix stringish")
    %label(for="relic_identification")
      = t('views.relicbuilders.details.name')
    .input
      %input(id="relic_identification" type="text" ng-model="relic.identification")
  #relic_reason_input(class="text clearfix")
    %label(for="relic_reason")
      = t('views.relicbuilders.details.reason')
    .input
      %textarea(id="relic_reason" ng-model="relic.reason" redactor="{focus: false, buttons: ['bold', 'italic', 'link', 'unorderedlist'], lang: 'pl'}" rows="20")

  .actions.relic-details
    %a(class="back" ng-click="goToStep(2)" prevent-default)
      = t('views.relicbuilders.stages.back').html_safe
    %button(ng-click="goToStep(4)")
      = t('views.relicbuilders.next_step_html')
