%ol.relic-stages
  %li.first(ng-class="{active: step == 1}")
    %span.step_header= t('views.relicbuilders.stages.step1')
    %h3
      %a(href prevent-default ng-click="goToStep(1)" ng-show="step != 1")
        = t('views.relicbuilders.stages.check_existance')
      %div(ng-show="step==1")
        = t('views.relicbuilders.stages.check_existance')
    %p= t('views.relicbuilders.stages.step1_description1_html')
  %li(ng-class="{active: step == 2}")
    %span.step_header= t('views.relicbuilders.stages.step2')
    %h3
      %a(href prevent-default ng-click="goToStep(2)" ng-show="step != 2")
        = t('views.relicbuilders.stages.address')
      %div(ng-show="step==2")
        = t('views.relicbuilders.stages.address')
    %p= t('views.relicbuilders.stages.step1_description2_html')
  %li(ng-class="{active: step == 3}")
    %span.step_header= t('views.relicbuilders.stages.step3')
    %h3
      %a(href prevent-default ng-click="goToStep(3)" ng-show="step != 3")
        = t('views.relicbuilders.stages.details')
      %div(ng-show="step==3")
        = t('views.relicbuilders.stages.details')
    %p= t('views.relicbuilders.stages.step1_description3_html')
  %li.last(ng-class="{active: step == 4}")
    %span.step_header= t('views.relicbuilders.stages.step4')
    %h3
      %a(href prevent-default ng-click="goToStep(4)" ng-show="step != 4")
        = t('views.relicbuilders.stages.photos')
      %div(ng-show="step==4")
        = t('views.relicbuilders.stages.photos')
    %p= t('views.relicbuilders.stages.step1_description4_html')
