%section.creator-step
  / = render :partial => 'parent_relic', :object => @relic.parent
  %p.intro= t('views.relicbuilders.details.intro1')
%form
  %label= t('views.relicbuilders.details.name')
  %input(type="text" ng-model="relic.identification")

  %label= t('views.relicbuilders.details.reason')
  %input(class="redactor" type="text" ng-model="relic.reason")

  .actions.relic-details
    %a(class="back" ng-click="goToStep(2)" prevent-default)
      = t('views.relicbuilders.stages.back').html_safe
    %button(ng-click="goToStep(4)")
      = t('views.relicbuilders.next_step_html')
