%section.creator-step
  / = render :partial => 'parent_relic', :object => @relic.parent
  %p.intro= t('views.relicbuilders.address.intro1')
%form
  %div(ng-show="relic.foreign_relic")
    .select
      %label= t('views.relicbuilders.new.country_code')
      = country_code_select(:relics, :country_code, nil, {}, {'ng-model' => 'location.country_code'})

    %label= t('activerecord.attributes.relic.fprovince')
    %input(type="text" ng-model="location.fprovince")

    %label= t('activerecord.attributes.relic.fplace')
    %input(type="text" ng-model="location.fplace")

  %div(ng-show="relic.foreign_relic")
    / TODO
    / = render :partial => 'administrative_level', :locals => { :relic => @relic }
  .street_input
    %label= t('activerecord.attributes.relic.street')
    %input(type="text" ng-model="location.street")

  %a(class="toggle_street_input" prevent-default)
    %span(ng-show="location.street")
      = t('views.relics.edit.location.known_address')
    %span(ng-hide="location.street")
      = t('views.relics.edit.location.unknown_address')

  .actions
    %a(class="back" ng-click="goToStep(1)" prevent-default)
      = t('views.relicbuilders.stages.back').html_safe
    %button(ng-click="goToStep(3)" prevent-default)
      =t('views.relicbuilders.next_step_html')
