.edit_relic.new_relic
  = render :partial => "relicbuilders/stages", :locals => { :stage => 2 }
  .creator
    %section.main
      %section.creator-step
        = render :partial => 'parent_relic', :object => @relic.parent
        %p.intro= t('views.relicbuilders.address.intro1')
      = semantic_form_for @relic, :url => relicbuilder_path(:id => @relic.try(:id)) do |f|
        = f.hidden_field :kind
        = f.hidden_field :existence
        = f.hidden_field :build_state
        = f.hidden_field :parent_id
        = f.hidden_field :latitude
        = f.hidden_field :longitude
        - if f.object.is_a? ForeignRelic
          = f.country_code_select :country_code
          = f.input :fprovince, :hint => false
          = f.input :fplace, :hint => false
        - else
          = render :partial => 'administrative_level', :locals => { :relic => @relic }
        .street_input{ :style => (@relic.street.blank? ? "display: none" : "") }
          = f.input :street
        = link_to (@relic.street.blank? ? t('views.relics.edit.location.known_address') : t('views.relics.edit.location.unknown_address')), '#', :class => "toggle_street_input"
        .actions
          = link_to t('views.relicbuilders.stages.back').html_safe, new_relicbuilder_path(:parent_id => @relic.parent_id), :class => "back"
          %button=t('views.relicbuilders.next_step_html')