.edit_relic.new_relic(ng-controller="RelicBuilderCtrl" ng-cloak)
  = render partial: 'steps_menu'
  .creator
    %section.main(ng-show="step == 1")
      = render partial: 'step1'
    %section.main(ng-show="step == 2")
      = render partial: 'step2'
    %section.main(ng-show="step == 3")
      = render partial: 'step3'
    %section.main(ng-show="step == 4")
      = render partial: 'step4'
