.edit_relic.new_relic
  = render :partial => "stages", :locals => { :stage => 4 }
  .creator
    %section.main
      %section.creator-step
        = render :partial => 'parent_relic', :object => @relic.parent
        %p.intro
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras convallis luctus malesuada. Pellentesque purus augue, facilisis id hendrerit et, tincidunt a mauris.
        %p.intro
          Vivamus vestibulum semper odio, nec volutpat sapien egestas ut. Nam iaculis dapibus eros convallis mollis. Nullam non ligula ut leo porta venenatis sed in nibh.
      %section.edit.photos
        = semantic_form_for @relic, :url => relicbuilder_path(:id => @relic), :html => { :multipart => true }, :method => :put  do |f|
          = f.hidden_field :build_state
          = f.input :description, :input_html => { :class => 'redactor' }
          - @relic.photos.each do |photo|
            - if photo.user_id == current_user.id
              = f.semantic_fields_for :photos, photo do |f2|
                .photo
                  .column-left
                    .preview
                      = image_tag photo.file.midi.url
                    - if photo.user_id == current_user.id
                      = link_to 'usuń zdjęcie', relic_photo_path(@relic.id, photo.id, :build => true),
                        :method => :delete,
                        :remote => true,
                        :confirm => "Czy aby na pewno?",
                        :class => "remove_photo"
                  .column-right
                    = f2.input :author, :input_html => { :class => "author" }
                    = f2.input :date_taken, :input_html => { :class => "date_taken" }
            - else
              .photo
                .column-left
                  .preview
                    = image_tag photo.midi.url
                .column-right
                  %label= t 'activerecord.attributes.photo.author'
                  %p= photo.author
                  %label= t 'activerecord.attributes.photo.date_taken'
                  %p= photo.date_taken

          .photo.hidden
            .column-left
              .preview.preview-placeholder

            .column-right
              %p
                %strong Trwa wgrywanie, proszę czekać...
                = link_to 'anuluj', '#', :class => "cancel_upload"
              %p
                .progressbar
                  .value 0%

          .photo-upload
            = file_field_tag "photo[file]", :class => 'photo_upload', :"data-url" => "#{relic_photos_path(@relic, :build => true)}"

          = f.input :license_agreement, :input_html => { :checked => 'checked' }, :as => :boolean, :label => "Oświadczam, że posiadam prawa do publikowania na stronie OtwarteZabytki.pl dodane powyżej zdjęcia."

          .actions
            = f.submit 'Zakończ! i zobacz dodany zabytek'

      -# %section.creator-step
      -#   .field.text.textarea
      -#     %label.main Opis
      -#     %textarea
      -#   %aside
      -#     %h3 O czym warto wspomnieć w opisie zabytku?
      -#     %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare venenatis pulvinar. Vestibulum suscipit enim in urna placerat aliquam.
      -# %section.creator-step
      -#   %h3 Zdjęcia
      -#   .field.photo
      -#     .thumb-wrapper
      -#       .thumb
      -#         %img{:src => "http://placekitten.com/125/125"}
      -#     .field.text.photo-info
      -#       %label.main Dane autora:
      -#       %input{:type => 'text'}
      -#       = link_to 'usuń zdjęcie', '#', :class => 'delete-photo'
      -#   .field.photo
      -#     .thumb-wrapper
      -#       .thumb
      -#     .field.text.photo-info
      -#       %strong.label Trwa wgrywanie, proszę czekać...
      -#       = link_to 'anuluj', '#', :class => 'cancel'
      -#       .progress-bar
      -#         .progress-box
      -#           .progress-line{:style => 'width: 43%'}
      -#         %span.progress-value 43%
      -#   = link_to 'wgraj kolejne zdjecie', '#', :class => 'add-photo'
      -#   .field.disclaimer
      -#     %input{:type => 'checkbox'}
      -#     %label Oświadczam, że posiadam prawa do opublikowania na stronie OtwarteZabytki.pl dodane powyżej zdjęcia. Oraz krótki tekst o licencji... Lorem ipsum dolor sit amet........

      -#   %aside
      -#     %h3 Pamiętaj o licencji i prawach autoskich!
      -#     %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare venenatis pulvinar. Vestibulum suscipit enim in urna placerat aliquam.
      -# = link_to relic_build_path(relic), :class => 'next-step', :method => :put do
      -#   %strong Zakończ!
      -#   %small ...i zobacz dodany zabytek
