%html{lang: I18n.locale}
  %head
    %meta(charset="utf-8")
    %title= content_for?(:title) ? yield(:title) : "Otwarte Zabytki"
    - unless iframe_transport?
      / Prevent showing bare page on history back
      :javascript
        window.onload = function() {
          window.location.reload()
        }
    - if content_for?(:facebook_meta)
      = yield :facebook_meta
  %body
    .container.main-container.js-remove-if-not-carousel{ :'data-replace' => '.main-container' }
      - unless response.headers['x-fancybox'] == 'true'
        = render 'shared/flash', :flash => flash
      .row.js-remove-if-not-carousel
        = yield
    != include_gon(:camel_case => true)
    :coffeescript
      if window.parent
        setTimeout ->
          window.parent.postMessage(JSON.stringify(event: "on_iframe_init", params: {width: $('div.main-container').outerWidth(), height: $('div.main-container').outerHeight() }), "*")
        , 10
