!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    - if Rails.env.production?
      %meta(name="google-site-verification" content="Spn2_vzD8aAvbTm8TAoVGIx_6jk-OM62aVNFxQ5pnR8")
    %title= content_for?(:title) ? "#{yield(:title)} - Otwarte Zabytki" : "Otwarte Zabytki"
    = favicon_link_tag  "favicon.gif", :type => 'image/gif'
    - if content_for?(:facebook_meta)
      = yield :facebook_meta
    - else
      %meta{:property => "og:title", :content => t('layouts.application.og.title', :editable => false)}
      %meta{:property => "og:description", :content => t('layouts.application.og.description', :editable => false)}
      %meta{:property => "og:image", :content => t('layouts.application.og.image', :editable => false)}
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application", :media => "all"
    /[if lt IE 9]
      = stylesheet_link_tag "ie8", :media => "all"
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,600,300&subset=latin,latin-ext", :rel => "stylesheet", :type => "text/css"}
  %body{ :class => [cookies["font-size"].to_s, controller_name, action_name, ("resource_#{params[:id]}" if params[:id])].join(' '), :data => { :logged => warden.authenticated?.to_s } }
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/pl_PL/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    - if current_user.try(:admin?)
      %a.translation-mode{:href => "#"}
        T
    .page
      #root
        %header#header
          .container
            %hgroup.page-logo
              %h1
                %a.page-logo-link(href=root_path)> Otwarte Zabytki
              %h2.page-logo-tagline= t('layouts.application.tagline')
            %section.disclaimer
              = t('layouts.application.disclaimer')
              %a{:href => "mailto:kontakt-oz@centrumcyfrowe.pl"} kontakt-oz@centrumcyfrowe.pl
            %nav#userNav
              %ul
                - if current_user && current_user.registered? && current_user.errors.size == 0
                  %li= t('layouts.application.hello', :username => (current_user.username || current_user.email))
                  -# %li= t('layouts.application.relics_count', :count => current_user.earn_points)
                  %li= link_to t('layouts.application.logout'), destroy_user_session_path, :method => :delete, :class => 'logout'
                - else
                  -# %li= t('layouts.application.relics_count', :count => current_user.try(:earn_points) || 0)
                  %li
                    %a{:href => new_user_session_path, :class => 'login'}
                      = t('layouts.application.login')
                  %li
                    %a{:href => new_user_registration_path, :class => 'register'}
                      = t('layouts.application.register')
                  %li
                    = link_to t('layouts.application.facebook_sign_in'), user_omniauth_authorize_path(:facebook), :class => "fb-btn"
            %a{:href => 'http://centrumcyfrowe.pl/', :target => '_blank', :class => 'cc_logo'}
        %section#menu
          .container
            %nav
              %ul#page-menu
                %li
                  = link_to t('layouts.application.homepage'), root_path, :class => "home #{'current' if current_page?(root_path)}"
                %li
                  = link_to t('layouts.application.about'), page_pl_path('o-projekcie'), :class => "about #{'current' if current_page?(about_path)}"
                %li
                  = link_to t('layouts.application.download_data'), page_pl_path('pobierz-dane'), :class => "download #{'current' if current_page?(download_path)}"
                %li
                  = link_to t('layouts.application.contact'), page_pl_path('kontakt'), :class => "contact  #{'current' if current_page?(strony_kontakt_path)}"
                %li
                  = link_to t('layouts.application.widgets'), widgets_path, :class => "widgets #{'current' if current_page?(widgets_path)}"
                %li
                  = link_to t('layouts.application.addrelic'), new_relicbuilder_path, :class => "add-relic #{'current' if current_page?(new_relicbuilder_path)}"
                %li.gradient{:class => " #{'current' if current_page?(relics_path)}"}
                  = link_to t('layouts.application.search'), relics_path, :class => "search #{'current' if current_page?(relics_path)}"
                %li.gradient
                  = link_to t('layouts.application.browse'), "#", :class => "browse"
                  .arrow
                  - unless request.xhr?
                    = render 'shared/browse'
        %section#main
          .container.main-container{ :'data-replace' => '.main-container' }
            = render 'shared/flash', :flash => flash
            .row
              = yield
        #root-footer
      %footer#footer.container= render 'shared/footer'

    #fancybox_loader_container
      #fancybox_loader
    != include_gon(:camel_case => true)
    != javascript_include_tag "application"
    != yield :footer_javascripts
    - if Rails.env.production?
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '#{Settings.oz.ga_key}']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      :javascript
        var pkBaseURL = (("https:" == document.location.protocol) ?  "https://centrumcyfrowe.pl/piwik/" : "http://centrumcyfrowe.pl/piwik/");
        document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
      :javascript
        try {
        var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 2);
        piwikTracker.trackPageView();
        piwikTracker.enableLinkTracking();
        } catch( err ) {}
