!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Otwarte Zabytki"
    = favicon_link_tag  "favicon.gif", :type => 'image/gif'
    %meta{:property => "og:title", :content => t('layouts.application.og.title')}
    %meta{:property => "og:description", :content => t('layouts.application.og.description')}
    %meta{:property => "og:image", :content => t('layouts.application.og.image')}
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application", :media => "all"
    /[if lt IE 9]
      = stylesheet_link_tag "ie8", :media => "all"
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,600,300&subset=latin,latin-ext", :rel => "stylesheet", :type => "text/css"}
  %body{ :class => [cookies["font-size"].to_s, controller_name, action_name, ("resource_#{params[:id]}" if params[:id])].join(' ') }
    .page
      #root
        %header#header
          .container
            %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %h1
              %a(href=root_path) Otwarte Zabytki
            %section.disclaimer= t('layouts.application.disclaimer')
            %nav#userNav
              %ul
                - if current_user && current_user.registered? && current_user.errors.size == 0
                  %li= t('layouts.application.hello', :username => (current_user.username || current_user.email))
                  %li= t('layouts.application.relics_count', :count => current_user.earn_points)
                  %li= link_to t('layouts.application.logout'), destroy_user_session_path, :method => :delete, :class => 'logout'
                - else
                  %li= t('layouts.application.relics_count', :count => current_user.try(:earn_points) || 0)
                  %li
                    %a{:href => new_user_session_path, :class => 'login'}
                      = t('layouts.application.login')
                  %li
                    %a{:href => new_user_registration_path, :class => 'register'}
                      = t('layouts.application.register')
            %a{:href => 'http://centrumcyfrowe.pl/', :target => '_blank', :class => 'cc_logo'}
        %section#menu
          .container
            %nav
              %ul
                %li
                  = link_to t('layouts.application.homepage'), root_path, :class => "home #{current_page?(root_path) ? "current" : ""}"
                %li
                  = link_to t('layouts.application.about'), page_pl_path('o-projekcie'), :class => "about #{current_page?(about_path) ? "current" : ""}"
                %li
                  = link_to t('layouts.application.help'), page_pl_path('pomoc'), :class => "help #{current_page?(strony_pomoc_path) ? "current" : ""}"
                %li
                  = link_to t('layouts.application.contact'), page_pl_path('kontakt'), :class => "contact  #{current_page?(strony_kontakt_path) ? "current" : ""}"
                %li
                  = link_to t('layouts.application.download_data'), page_pl_path('pobierz-dane'), :class => "download #{current_page?(download_path) ? "current" : ""}"
            .text
              %span.plus
              %span.minus

            = render 'shared/search'
        %section#main
          .container.main-container{ :'data-replace' => '.main-container' }
            = render 'shared/flash', :flash => flash
            .row
              = yield
        #root-footer
      %footer#footer.container= render 'shared/footer'
    #fb-root
    != include_gon(:camel_case => true)
    != javascript_include_tag "application"
    != yield :footer_javascripts
    - if Rails.env.production?
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '#{Settings.oz.ga_key}']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      :javascript
        var pkBaseURL = (("https:" == document.location.protocol) ?  "https://centrumcyfrowe.pl/piwik/" : "http://centrumcyfrowe.pl/piwik/");
        document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
      :javascript
        try {
        var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 2);
        piwikTracker.trackPageView();
        piwikTracker.enableLinkTracking();
        } catch( err ) {}
