!!! 5
%html{lang: I18n.locale, "ng-app" => "Relics"}
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    - if Rails.env.production?
      %meta(name="google-site-verification" content="Spn2_vzD8aAvbTm8TAoVGIx_6jk-OM62aVNFxQ5pnR8")
    %title= content_for?(:title) ? "#{yield(:title)} - Otwarte Zabytki" : "Otwarte Zabytki"
    = favicon_link_tag  "favicon.gif", :type => 'image/gif'
    - if content_for?(:facebook_meta)
      = yield :facebook_meta
    - else
      %meta{:property => "og:title", :content => t('layouts.application.og.title', :editable => false)}
      %meta{:property => "og:description", :content => t('layouts.application.og.description', :editable => false)}
      %meta{:property => "og:image", :content => t('layouts.application.og.image', :editable => false)}
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application", :media => "all"
    /[if lt IE 9]
      = stylesheet_link_tag "ie8", :media => "all"
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,600,300&subset=latin,latin-ext", :rel => "stylesheet", :type => "text/css"}
  %body{ :class => [cookies["font-size"].to_s, controller_name, action_name, ("resource_#{params[:id]}" if params[:id])].join(' '), :data => { :logged => warden.authenticated?.to_s } }
    %div#cookies
      %ul.cooks
        %li= link_to t('layouts.application.cookies')
        %li= link_to t('layouts.application.accept'), "#", class: "btn", id: "accept_cookies"
        %li= link_to t('layouts.application.learn_more'), page_path(:cookies)
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/pl_PL/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    - if current_user.try(:admin?)
      %a.translation-mode{:href => "#"}
        T
    .page
      #root
        .bootstrap-iso
          .container
            %header#header
              %hgroup.col-lg-4.col-md-5.col-xs-12.text-center
                = link_to image_tag("logo.png", :class => 'oz-logo'), root_path
                %h4.text-center= t('layouts.application.tagline')
              .display-block.col-lg-8.col-md-7
                %nav.navbar.navbar-default{role: "navigation"}
                  %ul.nav.navbar-nav.navbar-right.hidden-sm.hidden-xs
                    = render 'shared/login_navigation'

                %section.oz-disclaimer.col-md-10
                  = t('layouts.application.disclaimer')
                  %a{:href => "mailto:kontakt-oz@centrumcyfrowe.pl"} kontakt-oz@centrumcyfrowe.pl
                .col-md-2.oz-cc-logo
                  = link_to image_tag("cc_logo.png"), 'http://centrumcyfrowe.pl/'
        %section#menu.bootstrap-iso
          .container
            %nav.navbar.navbar-default
              .navbar-header
                %button.navbar-toggle{"data-target" => ".nav-collapse", "data-toggle" => "collapse", type: "button"}
                  %span.icon-bar
                  %span.icon-bar
                  %span.icon-bar
              .collapse.navbar-collapse.nav-collapse
                %ul#page-menu.nav.navbar-nav.oz-navbar-center
                  %li
                    = link_to t('layouts.application.homepage'), root_path, :class => "oz-home #{'active' if current_page?(root_path)}"
                  - Page.where(name: ['about', 'download', 'contact']).each do |page|
                    = render 'pages/navigation', page: page
                  %li
                    = link_to t('layouts.application.widgets'), widgets_path, :class => "oz-widgets #{'active' if current_page?(widgets_path)}"
                  %li
                    = link_to t('layouts.application.addrelic'), new_relicbuilder_path, :class => "oz-add-relic #{'active' if current_page?(new_relicbuilder_path)}"
                  %li.gradient{:class => " #{'current' if current_page?(relics_path)}"}
                    = link_to t('layouts.application.search'), relics_path, :class => "oz-search #{'active' if current_page?(relics_path)}"
                  %li.gradient
                    = link_to t('layouts.application.browse'), "#", :class => "oz-browse js-browse"
                    .arrow
                    - unless request.xhr?
                      = render 'shared/browse'
                  .hidden-md.hidden-lg.hidden-xl= render 'shared/login_navigation'
        %section#main
          .their-container.main-container{ :'data-replace' => '.main-container' }
            = render 'shared/flash', :flash => flash
            .row
              = yield
        #root-footer
      %footer#footer.bootstrap-iso
        .container= render 'shared/footer'

    #fancybox_loader_container
      #fancybox_loader
    != include_gon(:camel_case => true)
    != javascript_include_tag "//maps.googleapis.com/maps/api/js?key=#{Settings.oz.gm_key}&sensor=false"
    != javascript_include_tag "application"
    = timeago_script_tag
    != yield :footer_javascripts
    = render 'shared/analytics'
