!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Otwarte Zabytki"
    %link(rel="shortcut icon" href="/favicon.gif")
    %meta(property="og:title" content="Otwarte Zabytki")
    %meta(property="og:description" content="Społecznościowa akcja tworzenia bazy zabytków. Dołącz!")
    %meta(property="og:image" content="#{root_url[0..-2]}#{image_path('logo-facebook.jpg')}")
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application", :media => "all"
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,600,300&subset=latin,latin-ext", :rel => "stylesheet", :type => "text/css"}/
  %body{ :class => cookies["font-size"].to_s + " " + controller_name + " " + action_name + (params[:id] ? " resource_#{params[:id]}" : "") }
    .page
      #root
        %header#header
          .container
            %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %h1
              %a(href=root_path) Otwarte Zabytki
            %nav#userNav
              %ul
                /- if Rails.env.development?
                /  %li= "uid = #{current_user.id rescue 0}, suggestions = #{current_user.suggestions.count rescue 0}"
                - if current_user && current_user.registered? && current_user.errors.size == 0
                  %li Witaj, #{ current_user.username || current_user.email }
                  - if (c = (current_user.suggestions.count rescue 0)) > 0
                    %li Liczba Twoich zabytków: #{c}
                  - else
                    %li Nie sprawdziłeś żadnego zabytku, do roboty!

                  %li= link_to 'Wyloguj się', destroy_user_session_path, :method => :delete, :class => 'logout'
                - else
                  - if (c = (current_user.suggestions.count rescue 0)) > 0
                    %li Liczba Twoich zabytków: #{c}
                  - else
                    %li Nie sprawdziłeś żadnego zabytku, do roboty!
                  %li
                    %a{:href => new_user_session_path, :class => 'login'} Zaloguj
                  %li
                    %a{:href => new_user_registration_path, :class => 'register'} Zarejestruj
            %a{:href => 'http://centrumcyfrowe.pl/', :target => '_blank', :class => 'cc_logo'}
        %section#menu
          .container
            %nav
              %ul
                %li
                  = link_to "O projekcie", page_pl_path('o-projekcie'), :class => 'about'
                %li
                  = link_to "Pomoc", page_pl_path('pomoc'), :class => 'help'
                %li
                  = link_to "Kontakt", page_pl_path('kontakt'), :class => 'contact'
                %li
                  = link_to "Pobierz dane", page_pl_path('pobierz-dane'), :class => 'download'

            = simple_form_for Relic.new, :url => relics_path, :html => { :class => 'well form-search'},:method => :get do |f|
              = f.input :q1, :label => false, :input_html => {:name => 'q1', :value => params[:q1], :class => "search-query"}, :placeholder => "wpisz, czego szukasz"
              = f.button :submit, 'Szukaj »', :name => nil
            .text
              %span.plus
              %span.minus
        %section#main
          .container
            .row
              = yield
        #root-footer
      %footer#footer.container= render 'shared/footer'
    / Placed at the end of the document so the pages load faster
    != include_gon(:camel_case => true)
    != javascript_include_tag "application"
    != javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyAXlMDzvgp5OmKomylA1vjcWub2EmYaz1A&sensor=false".html_safe
    != javascript_include_tag "gmaps"
    - if Rails.env.production?
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '#{Settings.ga_key}']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl'; : 'http://www';) + '.http://google-analytics.com/ga.js';;
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
