!!! 5
%html{lang: I18n.locale, 'ng-app' => 'Relics'}
  %head
    %meta(charset="utf-8")
    = csrf_meta_tags
    - if controller_name == "directions" && action_name == "edit"
      = stylesheet_link_tag "for-iframe/include-BS", :media => "all"
    = stylesheet_link_tag "for-iframe/oz-direction-iframe", :media => "all"
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = yield :stylesheets
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,600,300&subset=latin,latin-ext", :rel => "stylesheet", :type => "text/css"}
  %body{ :class => [controller_name, action_name, widget.class.partial_name].join(' ') }
    #root
      %section#main
        - if controller_name == "directions"
          .container-fluid.main-container{ :'data-replace' => '.main-container' }
            = yield
        - else
          .container.main-container{ :'data-replace' => '.main-container' }
            = yield
    != include_gon(:camel_case => true)
    = yield :before_javascripts
    = yield :javascripts
    = render 'shared/analytics'
