<div class="login_title_register">Rejestracja do Otwartych Zabytków</div>
<div class="right_txt_box"><div class="ask_account">Czy konto jest mi potrzebne?</div>
Możesz uzupełniać bazę anonimowo albo założyć konto i śledzić swoje postępy.
<div class="ask_account">Masz już konto?</div>
<%= link_to "Zaloguj się.", new_user_session_path %>
</div>
<div class="form_box">
  <div class="login_intro_txt">Zarejestruj się i śledź swoje postępy</div>
<%= semantic_form_for(user, :url => user_registration_path) do |f| %>
  <%= f.semantic_errors %>
  <%= f.hidden_field :registration, :value => true %>
  <%= f.input :username, :required => false, :label => "Nazwa użytkownika".html_safe %>
  <%= f.input :email, :required => false, :autofocus => true %>
  <%= f.submit "Zarejestruj się" %>
<% end %>
</div>
