.login_title_register Rejestracja do Otwartych Zabytków
.right_txt_box= render 'devise/shared/login_info'
.form_box
  .login_intro_txt Zarejestruj się i śledź swoje postępy
  .fb-login
    = link_to t('layouts.application.facebook_sign_up'), user_omniauth_authorize_path(:facebook), :class => "fb-btn"

  = semantic_form_for(user, :url => user_registration_path, :remote => request.xhr?) do |f|
    = f.semantic_errors
    = f.hidden_field :registration, :value => true
    = f.input :username, :required => false, :label => "Nazwa użytkownika".html_safe
    = f.input :email, :required => false, :autofocus => true
    = f.submit "Zarejestruj się"
